[2021-09-24 19:55] SarthakKeshari opened #3 "Quadratic"
### Enter your question -
Find the roots of the quadratic Equation

### Enter link to the question(if question belongs to any online platform) -
NO link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Maths, Datatypes

[2021-09-24 20:00] SarthakKeshari opened #4 "Sorting an array"
### Enter your question -
Take 10 numbers as input from the user and sort it

### Enter link to the question(if question belongs to any online platform) -
NO link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
sorting, array

### Question belongs to which section/subsection(eg - Arrays/1D Arrays) -
Arrays/1D Arrays

[2021-09-24 20:03] SarthakKeshari opened #5 "Birthday Cake Candles"
### Enter your question -
You are in charge of the cake for a child's birthday. You have decided the cake will have one candle for each year of their total age. They will only be able to blow out the tallest of the candles. Count how many candles are tallest.

### Enter link to the question(if question belongs to any online platform) -
https://www.hackerrank.com/challenges/birthday-cake-candles/pr

[2021-09-24 20:12] SarthakKeshari opened #6 "Prime Game"
### Enter your question -
Chef and Divyam are playing a game with the following rules:

First, an integer X! is written on a board.
Chef and Divyam alternate turns; Chef plays first.
In each move, the current player should choose a positive integer D which is divisible by up to Y distinct primes and does not exceed the integer currently written on the board. Note that 1 is not a prime.
D is then s

[2021-09-26 18:20] Kunal22-ai opened #10 "Positive Negative"
### Enter your question - Write a program to enter a number and check weather it is positive or negative

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic,If-else

[2021-09-26 18:24] Kunal22-ai opened #11 "Solution-Positive Negative"
### Enter Issue id being referred to -
#10
### Approach/Algorithm/Pseudo Code for the selected question -
I will use if-else to solve the issue

### Tags for the solution(eg - Array, Basic, Stack, etc.) -
Basic(If-else)

[2021-09-26 18:26] SarthakKeshari commented on #11
@Kunal22-ai,
Kindly place this solution in Basic Codes folder
Deadline 27/09/2021

[2021-09-26 19:18] #11 closed

[2021-09-26 19:18] #10 closed

[2021-09-27 06:40] Siddhant231xyz opened #14 "Reverse an Array"
### Enter your question -
Write a program to Reverse an Array.

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-09-27 06:46] Siddhant231xyz opened #15 "Solution- Reverse an Array"
### Enter Issue id being referred to -
#14

### Approach/Algorithm/Pseudo Code for the selected question -
For Loop

### Tags for the solution(eg - Array, Basic, Stack, etc.) -
Array

[2021-09-27 06:54] SarthakKeshari commented on #15
@Siddhant231xyz,
Kindly add this solution to Basic Codes folder
Deadline 27/09/2021.

[2021-09-27 07:13] #15 closed

[2021-09-27 07:13] #14 closed

[2021-09-27 12:28] Phaneendra-Bottu opened #17 "solution-quadratic"
### Enter Issue id being referred to - #3
Your answer

### Approach/Algorithm/Pseudo Code for the selected question -
performing some mathematical functions

### Tags for the solution(eg - Array, Basic, Stack, etc.) -
basic,sqrt function

[2021-09-27 12:29] SarthakKeshari commented on #17
@Phaneendra-Bottu,
Kindly add your solution to Basic Codes folder
Deadline 27/09/2021

[2021-09-27 16:20] #17 closed

[2021-09-27 16:24] #3 closed

[2021-09-27 17:59] SarthakKeshari opened #19 "Swap 1"
### Enter your question -
Write a program to swap two numbers (with the help of third variable).

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-27 18:02] SarthakKeshari opened #20 "Swap 2"
### Enter your question -
Write a program to swap two numbers (WITHOUT the help of third variable).

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-09-27 19:13] MohammedHassan07 commented on #20
I want to solve this please assign this issue to me

[2021-09-27 21:54] mack611 opened #21 "Stack using array"
### Enter your question -
Write a program of stack using arrays

### Enter link to the question(if question belongs to any online platform) -
NO

### Tags for the question(eg - Array, Basic, Stack, etc.) -
arrays, functions, Stack, static

[2021-09-27 21:55] mack611 commented on #21
i wish to solve this, kindly assign this @SarthakKeshari

[2021-09-27 22:48] #21 closed

[2021-09-27 22:49] SarthakKeshari commented on #20
@MohammedHassan07,
Go ahead and kindly place your solution in "Basic Codes" folder.
Deadline 29/09/2021

[2021-09-28 02:21] Phaneendra-Bottu commented on #19
I would like to solve this please assign this issue to me

[2021-09-28 03:56] SarthakKeshari commented on #19
@Phaneendra-Bottu,
Go ahead and kindly place your solution in "Basic Codes" folder.
Deadline 29/09/2021

[2021-09-28 05:14] SarthakKeshari opened #23 "Factorial 1"
### Enter your question -
Write a program to find factorial of a number entered by the user. (Using loop)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, loops

[2021-09-28 05:15] SarthakKeshari opened #24 "Factorial 2"
### Enter your question -
Write a program to find factorial of a number entered by the user. (Using recursion)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
recursion, if

[2021-09-28 05:45] SarveshLimaye commented on #24
@SarthakKeshari would like to work on this issue. Pls, assign me the following issue.

[2021-09-28 06:10] SarthakKeshari commented on #24
@SarveshLimaye,
Go ahead and kindly place your solution in "Recursion" folder.
Deadline 29/09/2021

[2021-09-28 06:38] MohammedHassan07 commented on #20
I have written the code, but how to upload it on the basic code folder

[2021-09-28 06:50] #24 closed

[2021-09-28 06:56] SarthakKeshari commented on #20
It seems you haven't forked the repo

[2021-09-28 06:58] SarthakKeshari commented on #20
Follow an online video or a blog on how to contribute on open source projects
In case you still face issue contact me @ - srthkkeshari84@gmail.com

[2021-09-28 07:42] #19 closed

[2021-09-28 10:56] MohammedHassan07 commented on #20
I forked and clone the repo, what to do next, please guide me, I am a beginner

[2021-09-28 13:55] TirthPinkalSheth opened #27 "print prime nos upto 50"
### Enter your question -
Write a program to print prime nos upto 50.

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
basic mathematics and loops

[2021-09-28 13:56] TirthPinkalSheth commented on #27
kindly assign issue to me @SarthakKeshari

[2021-09-28 13:58] SarthakKeshari commented on #27
@TirthPinkalSheth,
Kindly place your solution in "Basic Codes" folder
Deadline 29/09/2021

[2021-09-28 14:32] #27 closed

[2021-09-28 16:34] Phaneendra-Bottu commented on #5
I would like to solve this. please assign me to this issue

[2021-09-28 16:46] PrashantSrivastava33 opened #29 "Linear Search in array"
### Enter your question -
Write a program to perform a linear search in an integer array.

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
array, integer, search

[2021-09-28 16:46] BodaleDenis commented on #23
Hi, I would like to work in this one, can I be assigned?

[2021-09-28 16:48] PrashantSrivastava33 commented on #29
@SarthakKeshari , please assign me this question.

[2021-09-28 16:51] SarthakKeshari commented on #29
@PrashantSrivastava33,
Kindly add your solution to "Searching" folder
Deadline - 28/09/2021

[2021-09-28 16:53] BodaleDenis commented on #4
I want to contribute to this, cam I be assigned ?
Thank you!

[2021-09-28 17:23] #29 closed

[2021-09-28 17:59] PrashantSrivastava33 commented on #5
please assign this question to me

[2021-09-28 18:36] SarthakKeshari commented on #23
@BodaleDenis,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-28 18:37] SarthakKeshari commented on #4
@BodaleDenis,
Kindly add your solution to "Basic Codes" folder.
Deadline - 30/09/2021

[2021-09-28 18:42] SarthakKeshari commented on #5
@Phaneendra-Bottu,
Kindly add your solution to "Hackerrank" folder.
Deadline - 30/09/2021

hacktoberfest tag will be applicable from 1st October

[2021-09-29 04:10] #5 closed

[2021-09-29 04:13] SarthakKeshari commented on #20
@MohammedHassan07,
Are you facing any issue?

[2021-09-29 04:52] MohammedHassan07 commented on #20
When I execute the command git push upstream it through the error. @SarthakKeshari

[2021-09-29 05:13] SarthakKeshari opened #33 "👋 For new Contributors"
### Discussed in https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/discussions/9

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** September 26, 2021</sup>
Hello Contributors,
Some issues have been tagged as good first issue. You may ask for assigning those issue to you if you're beginner to open source contribution. If there is no such issue open for you

[2021-09-29 07:02] Vedika-Agrawal commented on #20
Sir I also would like to work on this issue, please assign this issue to me!

[2021-09-29 07:04] sej28 commented on #20
I would like to do this, please assign me

[2021-09-29 07:10] SarthakKeshari commented on #20
Hello all present on this issue,
Once the deadline is over after that I can assign it to anyone else.

There are three methods how you can contribute to this repository -
1) Add a question and provide the solution for the same
2) Provide a solution
3) Add a question

Kindly go through CONTRIBUTING.md file for complete details
This is always the first step for all open source contributor.
I am goin

[2021-09-29 07:23] Vedika-Agrawal opened #34 "Movie Weekend"
Question -
Little Egor is a huge movie fan. He likes watching different kinds of movies: from drama movies to comedy movies, from teen movies to horror movies. He is planning to visit cinema this weekend, but he's not sure which movie he should watch.

There are n movies to watch during this weekend. Each movie can be characterized by two integers Li and Ri, denoting the length and the rating of t

[2021-09-29 07:25] Vedika-Agrawal commented on #34
I would like to work on this issue please assign this issue to me.

[2021-09-29 07:35] NitikaGupta16 commented on #6
I would like to solve this. Please assign this issue to me.

[2021-09-29 07:35] SCHW18TZ commented on #34
I want to work in this issue can you assign it to me?

[2021-09-29 07:49] SarthakKeshari commented on #34
@Vedika-Agrawal,
Kindly add your solution to "Codechef" Folder.
Deadline - 30/09/2021

[2021-09-29 08:37] SarthakKeshari opened #36 "Semi sort 1"
### Enter your question -
Write a program to sort half of the array in ascending and second half in descending or vice versa depending on users choice.
AD - Ascending then descending
DA - Descending then ascending

Sample test case -
Input -
Enter sorting style: AD
Enter number of elements in the array: 5
Numbers: 1 4 2 4 2

Output -
Semi-sorted: 1 2 4 4 2

Explaination -
Array -> 1 4 2 4 2
Part-o

[2021-09-29 08:39] aaditya9899 commented on #6
Please Assign it to me as i have already done it and its working perfectly , i just need to make pull request.
Thankx

[2021-09-29 08:40] aaditya9899 commented on #36
please assign it to me

[2021-09-29 08:47] SarthakKeshari commented on #6
@NitikaGupta16,
Fo ahead, Kindly add your solution to "CodeChef" folder.
Deadline - 1/10/2021

Hacktoberfest tag will be applicable from 1st October

[2021-09-29 08:53] aaditya9899 commented on #36
hey can you assign it to me?

[2021-09-29 08:56] SarthakKeshari commented on #36
@aaditya9899,
Kindly add your solution to "Sorting" folder.
Deadline - 1/10/2021

[2021-09-29 09:15] gb07bh commented on #23
Sir, I would love to work on this one, can I be assigned to work on this?

[2021-09-29 09:23] SarthakKeshari commented on #23
@gb07bh,
It already assigned wait for the deadline to be over or what best you can do is go ahead and create a new issue

[2021-09-29 09:29] gb07bh commented on #23
Sure, Sir, I would wait for the deadline and then be assigned on this.

[2021-09-29 09:38] SarthakKeshari opened #38 "✅ Rank-List released"
### Discussed in https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/discussions/37

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** September 29, 2021</sup>
Hello everyone 👋,
Finally the wait is over. Ranks are up for all making their path into successful contribution.  🏆
🥇Grab your chance to be the Top Contributor.

### [RankList](https://sarthakkeshari.g

[2021-09-29 10:12] aaditya9899 commented on #36
its showing permission denied when i am pushing my code

[2021-09-29 10:20] SarthakKeshari commented on #36
git clone command and git remote add upstream  will have different urls. Your must have clone the original project that's why it gives such error

[2021-09-29 10:22] aaditya9899 commented on #36
okay so how to fix this?

[2021-09-29 10:47] SarthakKeshari commented on #36
Remove local system copy of the repo now
and start your steps from git clone and further.

[2021-09-29 12:31] KodeInt opened #42 "Digit Names"
### Enter your question -
Write a program to display digit name

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic, If else

[2021-09-29 12:31] KodeInt commented on #42
@SarthakKeshari Kindly assign this issue to me

[2021-09-29 12:32] SarthakKeshari commented on #42
@KodeInt,
Kindly place your solution in "Basic codes" folder.
Deadline - 29/09/2021

[2021-09-29 13:31] #42 closed

[2021-09-29 16:22] #36 closed

[2021-09-29 16:59] #20 closed

[2021-09-29 17:59] PrasoonJain2002 opened #46 "GCD using Recursion"
### Enter your question -
Find the GCD of two numbers by using Recursive Technique.

### Enter link to the question(if question belongs to any online platform) -
No Link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion

[2021-09-29 18:07] PrasoonJain2002 commented on #46
I have submitted a PR please review it.

[2021-09-29 20:04] PrakharRathore123 opened #47 "Max. Subarray sum"
### Enter your question -
Find the contiguous sub-array which has the maximum sum.

### Enter link to the question(if question belongs to any online platform) -
NO LINK

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, loop.

[2021-09-29 20:08] PrakharRathore123 commented on #47
@SarthakKeshari Kindly assign me this algorithm.

[2021-09-29 20:09] SarthakKeshari commented on #47
@PrakharRathore123,
Go ahead, Kindly place this question in "Arrays/1D Arrays" folder
Deadline - 30/09/2021

[2021-09-29 20:28] #34 closed

[2021-09-29 20:51] mack611 opened #48 "Balancing parenthesis"
### Enter your question -
CHECK FOR BALANCED PARENTHESIS USING STACK (WITHOUT USING STL)

### Enter link to the question(if question belongs to any online platform) -
no

### Tags for the question(eg - Array, Basic, Stack, etc.) -
stacks,arrays,fuctions

[2021-09-29 20:54] mack611 commented on #48
@SarthakKeshari pls assign my issue

[2021-09-29 20:57] SarthakKeshari commented on #48
@mack611,
Kindly add your solution to "Data Structure/Stack" folder.
Deadline - 30/09/2021

[2021-09-29 21:39] #48 closed

[2021-09-29 21:41] #47 closed

[2021-09-29 21:42] PrasoonJain2002 commented on #46
@SarthakKeshari Kindly assign me this algorithm.

[2021-09-29 22:06] SarthakKeshari commented on #46
@PrasoonJain2002,
Kindly add your solution to "Recursion" folder.
Deadline - 30/09/2021

[2021-09-29 22:37] #23 closed

[2021-09-30 03:50] SarthakKeshari opened #51 "Special Number"
### Enter your question -
Write a program to check if a number is Special or not

Explaination -
A number is said to be special if the sum of the factorial of its digits is equal to the original number.(Make program modular by creating user-defined functions. eg- factorial(), sum())

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg

[2021-09-30 03:55] #46 closed

[2021-09-30 04:05] PrasoonJain2002 commented on #51
@SarthakKeshari I want to do this please assign it to me.

[2021-09-30 04:12] SarthakKeshari commented on #51
@PrasoonJain2002,
Kindly create a folder "Number Theory" and place your solution in it.
Deadline - 01/10/2021

[2021-09-30 04:35] #51 closed

[2021-09-30 04:35] PrasoonJain2002 opened #53 "Shuffling Parities"
### Enter your question -
Chef is given an array A consisting of N positive integers. Chef shuffles the array A and creates a new array B of length N, where Bi=(Ai+i)mod2, for each i(1≤i≤N).

Find the maximum possible sum of integers of the array B, if Chef shuffles the array A optimally.

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/SEPT21B

[2021-09-30 04:37] PrasoonJain2002 commented on #53
@SarthakKeshari Kindly assign my issue to me.

[2021-09-30 04:52] SarthakKeshari commented on #53
@PrasoonJain2002,
Kindly place your solution in "CodeChef" folder.
Deadline - 01/10/2021

[2021-09-30 04:54] PrasoonJain2002 commented on #53
@SarthakKeshari If I add pull request tomorrow will it be applicable for Hacktoberfest?

[2021-09-30 05:32] #6 closed

[2021-09-30 05:36] Rajat-Jain29 commented on #33
@SarthakKeshari Is there any other good first issue?

[2021-09-30 05:55] SarthakKeshari commented on #53
Ok you wish to do so?

[2021-09-30 06:11] PrasoonJain2002 opened #54 "Xs and Os"
### Enter your question -
You're playing a game against an opponent on a grid of cells with N rows and N columns. All of the cells are initially empty, and both players normally take turns placing symbols in empty cells (with one player placing Xs and the other placing Os) until a row and/or column becomes entirely filled with one player's symbols (at which point the game ends with that player win

[2021-09-30 06:12] PrasoonJain2002 commented on #54
@SarthakKeshari Please assign this to me

[2021-09-30 06:41] SarthakKeshari commented on #33
Hello @Rajat-Jain29,
You may create an issue that you wish to solve and I will tag it for you as good first issue.
And if you want me to create one for you let me know here

[2021-09-30 07:39] Phaneendra-Bottu opened #56 "basic pattern"
### Enter your question -
print the pattern
![WhatsApp Image 2021-09-30 at 1 12 09 PM](https://user-images.githubusercontent.com/91441682/135409225-d333b24e-8b4d-48f3-ab07-cf0d58fecd0c.jpeg)

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
basic

[2021-09-30 07:51] SarthakKeshari commented on #54
@PrasoonJain2002,
Go ahead, Kindly create a new folder "Coding Competitions" save your solution in there.
Deadline - 02/10/2021

Strict reminder -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-09-30 07:54] SarthakKeshari commented on #56
@Phaneendra-Bottu,
I hope you'll be using loops?

[2021-09-30 07:58] PrasoonJain2002 commented on #54
@SarthakKeshari The code are original written by me.
I myself participated in this contest and qualified for subsequent rounds and these are the code which I have submitted during the contest.

[2021-09-30 08:05] Phaneendra-Bottu commented on #56
yeah. by using for/while/do-while loops

[2021-09-30 08:28] SarthakKeshari commented on #56
@Phaneendra-Bottu,
Go ahead, Kindly create a folder "Pattern Printing" and add your solution there.
Deadline - 01/10/2021

[2021-09-30 09:04] PrasoonJain2002 opened #57 "Consistency-1"
### Enter your question -
Connie received a string S for her birthday, consisting entirely of uppercase letters (each between "A" and "Z", inclusive).
However, Connie really only likes nice, consistent strings. She considers a string to be consistent if and only if all of its letters are the same.
Each second, Connie may choose one letter in S and replace it with a different letter. If her chosen

[2021-09-30 09:04] PrasoonJain2002 commented on #57
@SarthakKeshari  Please assign this to me and also label it for hacktoberfest.

[2021-09-30 09:10] PrasoonJain2002 opened #58 "Consistency-2"
### Enter your question -
Connie received a string SS for her birthday, consisting entirely of uppercase letters (each between "A" and "Z", inclusive).

However, Connie really only likes nice, consistent strings. She considers a string to be consistent if and only if all of its letters are the same.

 Each second, Connie may choose one letter in S and replace it with a different letter. There are

[2021-09-30 09:11] PrasoonJain2002 commented on #58
@SarthakKeshari  Please assign this to me and also label it for hacktoberfest.

[2021-09-30 09:17] PrashantSrivastava33 opened #59 "Digit Rotation"
### Enter your question -
Write a C++ program to get an n-digit number from user and perform the following operation:
input- 659874
operation- 659874->598746->587469->584697->584976->584967
that is, rotate each digit to the left, while keeping 1 extra digit fixed each time.
Also, print the maximum number obtained from these combinations, in this case, max=598746

### Enter link to the question(if

[2021-09-30 09:18] PrashantSrivastava33 commented on #59
Please assign me this question

[2021-09-30 09:51] PrasoonJain2002 commented on #57
@SarthakKeshari Please assign me the question

[2021-09-30 09:51] PrasoonJain2002 commented on #57
@SarthakKeshari please assign me this question.

[2021-09-30 09:52] PrasoonJain2002 commented on #58
@SarthakKeshari Please assign me this question.

[2021-09-30 10:32] PrasoonJain2002 opened #61 "Middle_LL"
### Enter your question -
Write a program in C++ to print the middle element of a Linked List

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Loop, Linked List

[2021-09-30 10:32] PrasoonJain2002 commented on #61
@SarthakKeshari Please assign this to me.

[2021-09-30 14:07] Pranavanbu28 opened #63 "Variable sized arrays - Hackerrank"
### Enter your question -
Consider an n-element array, **a**, where each index **i**  in the array contains a reference to an array of **ki** integers (where the value of  **ki** varies from array to array).
Given a , you must answer q queries. Each query is in the format i j, where **i** denotes an index in array  **a** and  **j** denotes an index in the array located at **a[i]** . For each query

[2021-09-30 14:09] Pranavanbu28 commented on #63
Hi @SarthakKeshari , I would like to work on this issue and please add hactoberfest label to this issue, if you may.

[2021-09-30 14:12] silicolicious opened #64 "Find the Highest Altitude (LeetCode)"
### Find the Highest Altitude
There is a biker going on a road trip. The road trip consists of n + 1 points at different altitudes. The biker starts his trip on point 0 with an altitude equal to 0.

You are given an integer array gain of length n where gain[i] is the net gain in altitude between points i​​​​​​ and i + 1 for all (0 <= i < n). Return the highest altitude of a point.

### Link to que

[2021-09-30 14:15] silicolicious commented on #64
@SarthakKeshari
Hi! I am Mageshkrishna R,
I am a registered participant in Hacktoberfest.
I would like to contribute to your repository, kindly assign this issue to me with the label - hacktoberfest
Thank you!

[2021-09-30 14:24] vishalsinghhh opened #65 "Integer to Roman"
### Enter your question -
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is writte

[2021-09-30 14:25] vishalsinghhh commented on #65
Please assign this issue to me.

[2021-09-30 17:30] Rajat-Jain29 commented on #33
Okay @SarthakKeshari I will create pull request by myself you can merge under Hacktoberfest label.

[2021-09-30 18:09] SarthakKeshari commented on #57
@PrasoonJain2002, Kindly note not more than 2 issues can be assigned at the same time

[2021-09-30 18:32] SarthakKeshari commented on #65
@vishalsinghhh,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

[2021-09-30 18:34] SarthakKeshari commented on #64
@silicolicious,
Question is too easy to be considered for hacktoberfest.

If you wish to count your contribution towards this repository you may go ahead

[2021-09-30 18:38] SarthakKeshari commented on #64
@silicolicious,
Kindly add this issue to the "leetcode" folder.
Deadline - 02/10/2021

[2021-09-30 18:40] SarthakKeshari commented on #63
@Pranavanbu28,
Question is too easy to be considered for hacktoberfest.

If you wish to count your contribution towards this repository you may go ahead

[2021-09-30 18:40] SarthakKeshari commented on #63
@Pranavanbu28,
Kindly add your solution to "Hackerrank" folder.
Deadline - 02/10/2021

[2021-09-30 18:41] PrakharRathore123 opened #67 "Convert row and column Matrix to Zeroes."
### Enter your question -
Given an m x n integer matrix matrix, if an element is 0, set its entire row and column to 0's and then print the matrix.

### Enter link to the question(if question belongs to any online platform) -
-
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Matrix.

[2021-09-30 18:42] PrakharRathore123 commented on #67
@SarthakKeshari Kindly issue me this problem.

[2021-09-30 18:46] #4 closed

[2021-09-30 18:47] Rajat-Jain29 opened #68 "Best Time to Buy and Sell Stock by Dynamic Programming"
Enter your question -
You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.
Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

Enter link to the question(if question belongs to any online platform) -
LeetCode
Question Link: https://leetcode.com/problems/bes

[2021-09-30 18:51] Rajat-Jain29 commented on #68
@SarthakKeshari Please assign to me this question.

[2021-09-30 18:53] PrakharRathore123 opened #69 "Pascal Triangle"
### Enter your question -
(a) Given an integer x print the first x rows of pascal's triangle,.
(B) we have given a integer x we need to print that x row only.
.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Recursion.

[2021-09-30 18:53] PrakharRathore123 commented on #69
@SarthakKeshari Kindly issue me this problem.

[2021-09-30 18:56] PrakharRathore123 opened #70 "Count the number of inversion in array using merge sort."
### Enter your question -
Two elements a[i] and a[j] form an inversion if a[i] > a[j] and i < j and we have to calculate the total number of inversion in that array.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array , Merge sort , Recursion.

[2021-09-30 18:57] PrakharRathore123 commented on #70
@SarthakKeshari Kindly issue me this problem.

[2021-09-30 19:01] SarthakKeshari commented on #67
@PrakharRathore123,
Kindly add your solution to "Arrays/2D Array" folder.
Deadline - 02/10/2021

[2021-09-30 19:03] PrakharRathore123 opened #71 "Inplace rotate square matrix by 90 degrees using Transpose."
### Enter your question -
Given a n x n matrix, turn it by 90 degrees in clockwise direction without using any extra space.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array , Matrix.

[2021-09-30 19:03] SarthakKeshari commented on #68
@Rajat-Jain29,
Kindly fill the above template properly. And also mention from which online platform this has been taken.

[2021-09-30 19:20] SarthakKeshari commented on #69
@PrakharRathore123,
Go ahead, Kindly save your solution in "Recursion" folder
Deadline - 03/10/2021

[2021-09-30 19:24] SarthakKeshari commented on #68
@Rajat-Jain29,
Go ahead, Kindly save your solution to "Leetcode" folder.
Deadline - 02/10/2021

Strict reminder -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-09-30 19:25] SarthakKeshari commented on #70
@PrakharRathore123,
Kindly note more than 2 issues will not be assigned at a time.

[2021-09-30 19:36] PrasoonJain2002 commented on #57
I have completed please merge it.

[2021-09-30 19:48] manognyaa opened #72 "Prisoners_escape.cpp"
### question -
We want to see is there a path from one end to another end along the width.
We first convert the given data to the graph(possibly it will become disconnected graph).
Consider the soldiers as the nodes and we will add an edge between two soldiers if there range of view has some intersection part or if they are just joining. Check every possible pair of point(Soldiers). Find distance

[2021-09-30 20:01] SarthakKeshari commented on #72
@manognyaa,
Go ahead, Kindly save your solution to "Data Structure/Graph/Undirected Graph" folder.
Deadline - 03/10/2021

[2021-09-30 20:45] #53 closed

[2021-09-30 20:48] #68 closed

[2021-09-30 20:51] SarthakKeshari commented on #57
@PrasoonJain2002,
Go ahead, Kindly create a new folder "Coding Competitions" save your solution in there.
Deadline - 02/10/2021

[2021-10-01 00:12] Pranavanbu28 commented on #63
So this can't be considered as a question for hactoberfest?

[2021-10-01 01:11] SarthakKeshari commented on #63
Hard and medium level questions are being taken into consideration

[2021-10-01 02:45] #56 closed

[2021-10-01 03:33] SarthakKeshari opened #76 "🔴⭕Update for all - Step 1⭕🔴"
### Discussed in https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/discussions/75

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October  1, 2021</sup>
***
# Hello team, 👋
### Your amazing efforts can be seen from very first day and this is really motivating and creates positive project building spirit.
***

### 🌄Opening a new way into this project to m

[2021-10-01 04:03] #72 closed

[2021-10-01 06:12] syamala27 opened #78 "Knapsack - gfg"
### Enter your question -
You are given weights and values of N items, put these items in a knapsack of capacity W to get the maximum total value in the knapsack. Note that we have only one quantity for each item.

In other words, given two integer arrays val[0..N-1] and wt[0..N-1] which represent values and weights associated with N items respectively. Also given an integer W which represents kna

[2021-10-01 06:25] rustzz-27 opened #79 "Island Perimeter"
### Enter your question -
You are given row x col grid representing a map where grid[i][j] = 1 represents land and grid[i][j] = 0 represents water.

Grid cells are connected horizontally/vertically (not diagonally). The grid is completely surrounded by water, and there is exactly one island (i.e., one or more connected land cells).

The island doesn't have "lakes", meaning the water inside isn't c

[2021-10-01 06:28] rustzz-27 commented on #76
Hello,
That's really nice to hear and according to me I think the name should be "codekarloo"

[2021-10-01 06:29] rustzz-27 commented on #79
Kindly assign me this issue under Hacktoberfest 2021
Thanks

[2021-10-01 06:53] anuragdw710 commented on #70
@SarthakKeshari Kindly issue me this problem.

[2021-10-01 07:02] anuragdw710 opened #80 "[Question Title]"
### Enter your question -
After a highly successful haul from the log drive, Connie the contractor is tasked with building a number of houses in the Great White North. For each job, the client has provided a floor plan consisting of NN rectangular rooms, numbered from 1 to NN. From a bird's-eye view, the rooms are arranged on a 2-dimensional plane, with axis-aligned walls. The southern wall of eac

[2021-10-01 07:03] anuragdw710 commented on #80
@SarthakKeshari Please assign me this question.

[2021-10-01 07:05] anuragdw710 commented on #78
@SarthakKeshari Please assign me this question.

[2021-10-01 07:37] Master-Helix opened #82 "Similar Pairs"
**### Enter your question** -

We call two numbers x and y similar if they have the same parity (the same remainder when divided by 2), or if |x−y|=1. For example, in each of the pairs (2,6), (4,3), (11,7), the numbers are similar to each other, and in the pairs (1,4), (3,12), they are not.

You are given an array a of n (n is even) positive integers. Check if there is such a partition of the arra

[2021-10-01 07:40] Master-Helix commented on #82
Sir @SarthakKeshari,
Kindly assign this question to me for contribution under Hacktoberfest-2021.
Thank You

[2021-10-01 07:47] Fury-MadMax opened #83 "Nastia and Nearly Good Numbers"
**Enter your question -**

Nastia has 2 positive integers A and B. She defines that:

The integer is good if it is divisible by A⋅B;
Otherwise, the integer is nearly good, if it is divisible by A.
For example, if A=6 and B=4, the integers 24 and 72 are good, the integers 6, 660 and 12 are nearly good, the integers 16, 7 are neither good nor nearly good.

Find 3 different positive integers x, y, an

[2021-10-01 07:49] ADARSH906 commented on #83
Sir @SarthakKeshari,
Kindly assign this question to me for contribution under Hacktoberfest-2021.

[2021-10-01 08:00] SarthakKeshari commented on #78
@syamala27,
Go ahead, Kindly create a folder "GeeksForGeeks" and save your solution in it.
Deadline - 02/10/2021

[2021-10-01 08:04] SarthakKeshari commented on #78
@anuragdw710,
Its First Come First Serve. So, in case the deadline is over you'll be assigned next. Till then you may contribute in accordance with CONTRIBUTING.md

[2021-10-01 08:05] SarthakKeshari commented on #80
@anuragdw710,
Kindly provide question title

[2021-10-01 08:08] SarthakKeshari commented on #79
@rustzz-27,
Go ahead, Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 08:11] rustzz-27 commented on #79
Thanks

[2021-10-01 08:13] #64 closed

[2021-10-01 08:16] SarthakKeshari commented on #70
@anuragdw710,
Kindly place your solution in "Arrays/1D Arrays" folder.
Deadline - 02/10/2021

[2021-10-01 09:05] SarthakKeshari commented on #82
@Master-Helix,
Go ahead, Kindly add your solution to "Codeforces" folder.
Deadline - 03/10/2021

[2021-10-01 09:07] SarthakKeshari commented on #83
@Fury-MadMax,
Kindly add your solution to "Codeforces" folder.
Deadline - 02/10/2021

[2021-10-01 09:09] Abhicoder03 commented on #76
@SarthakKeshari How about CodeCuddler.

[2021-10-01 09:13] Abhicoder03 opened #86 "Array with Odd Sum"
Enter your question -
You are given an array a consisting of n integers.

In one move, you can choose two indices 1≤i,j≤n such that i≠j and set ai:=aj. You can perform such moves any number of times (possibly, zero). You can choose different indices in different operations. The operation := is the operation of assignment (i.e. you choose i and j and replace ai with aj).

Your task is to say if it

[2021-10-01 09:13] Abhicoder03 commented on #86
@SarthakKeshari Could you please assign me this question and also add hactoberfest label.

[2021-10-01 09:24] SarthakKeshari commented on #86
@Abhicoder03,
Kindly add your solution to "Codeforces" folder.
Deadline - 02/10/2021

[2021-10-01 09:29] Abhicoder03 commented on #86
Thanks @SarthakKeshari

[2021-10-01 09:44] Abhicoder03 commented on #86
@SarthakKeshari Done Sir.

[2021-10-01 09:51] silicolicious opened #88 "3Sum(LeetCode)"
### Enter your question -
Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0.
Notice that the solution set must not contain duplicate triplets.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/3sum/

### Tags for the question(eg - Array

[2021-10-01 09:52] silicolicious commented on #88
Hey @SarthakKeshari
Can you please assign this issue to me under the label hacktoberfest :)
Thank you!

[2021-10-01 10:04] SarthakKeshari commented on #88
@silicolicious,
Go ahead, Kindly add your solution to "Leetcode" folder.
Deadline - 03/10/2021

[2021-10-01 10:39] Nithish2032 opened #90 "Merge two sorted linked lists"
### Merge two sorted linked lists into one
Hi. I am a beginner to open source. I want to add a program that takes two sorted linked lists and merges them into one sorted linked list. Please assign me this under hacktoberfest 2021.

[2021-10-01 11:46] rasikaghadge commented on #76
My suggestion is **'CodersArena'**

[2021-10-01 11:56] rasikaghadge opened #92 "Day of the Programmer"
**Enter your question** -
Marie invented a Time Machine and wants to test it by time-traveling to visit Russia on the Day of the Programmer (the 256th day of the year) during a year in the inclusive range from 1700 to 2700.

From 1700 to 1917, Russia's official calendar was the Julian calendar; since 1919 they used the Gregorian calendar system. The transition from the Julian to Gregorian calendar

[2021-10-01 11:56] rasikaghadge commented on #92
Kindly assign this issue to me

[2021-10-01 13:34] Atharvp18 opened #95 "Competitive programming"
### A brief about your proposal -
Hello, Please assign me this task I will add cpp solutions for questions from the CodeChef platform as a hacktoberfest contribution.
Thank you

[2021-10-01 13:34] gb07bh opened #96 "CodeChef Problems"
Hey, I would love to add at least 5 Codechef problem solutions to your repository as an Hacktoberfest 2021 contribution.
If you would want this, please assign me.

[2021-10-01 14:16] aaditya9899 commented on #71
hey can i work on this

[2021-10-01 14:41] SarthakKeshari commented on #96
@gb07bh,
Kindly create an issue and provide a question that you wish to solve.
Since question would be from online platform make sure to take up medium and hard level questions

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-01 14:42] SarthakKeshari commented on #95
@Atharvp18,
Kindly create an issue and provide a question that you wish to solve.
Since question would be from online platform make sure to take up medium and hard level questions

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-01 14:44] SarthakKeshari commented on #92
@rasikaghadge,
Kindly follow the original Issue template.

[2021-10-01 14:45] SarthakKeshari commented on #92
@rasikaghadge,
Kindly follow the original Issue template and Go through CONTRIBUTING.md for further details

[2021-10-01 14:47] SarthakKeshari commented on #90
@Nithish2032,
Kindly follow the original Issue template and go through CONTRIBUTING.md for further details.

[2021-10-01 15:09] rustzz-27 commented on #79
Kindly review my pr
#85

[2021-10-01 15:11] #61 closed

[2021-10-01 15:18] #79 closed

[2021-10-01 15:50] Abhicoder03 commented on #86
@SarthakKeshari I have done the changes what you have told. Now, Could you please merge it.

[2021-10-01 15:50] Adityagupta1625 opened #98 "RainWater Trapping Probelm"
### Question -
Given an array arr[] of N non-negative integers representing the height of blocks. If width of each block is 1, compute how much water can be trapped between the blocks during the rainy season.

### Example-
Input:
N = 6
arr[] = {3,0,0,2,0,4}

Output:
10

### Link to Question -
https://practice.geeksforgeeks.org/problems/trapping-rain-water-1587115621/1

### Tags  -
<code> Array</co

[2021-10-01 16:24] #78 closed

[2021-10-01 17:24] Prajakta102 commented on #98
Kindly assign this task to me.

[2021-10-01 17:34] SarthakKeshari commented on #96
@gb07bh,
Any other queries or shall I close this issue.

[2021-10-01 17:34] SarthakKeshari commented on #95
@Atharvp18,
Any other queries or shall I close this issue.

[2021-10-01 17:34] paltannistha opened #102 "AppendLastNToFirst"
### Enter your question -
You have been given a singly linked list of integers along with an integer 'N'. Write a function to append the last 'N' nodes towards the front of the singly linked list and returns the new head to the list.

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
LinkedList

[2021-10-01 17:36] SarthakKeshari commented on #92
@rasikaghadge,
Kindly save your solution to "Hackerrank" folder.
Deadline - 02/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 17:37] SarthakKeshari commented on #102
@paltannistha,
Kindly attach link to the question also in the above template

[2021-10-01 17:38] SarthakKeshari commented on #90
@Nithish2032,
Any further queries or shall I close this issue.

[2021-10-01 17:39] Master-Helix opened #103 "Sum Of Cubes"
### Enter your question -

You are given a positive integer x. Check whether the number x is representable as the sum of the cubes of two positive integers.

Formally, you need to check if there are two integers a and b (1≤a,b) such that a^3+b^3=x.

For example, if x=35, then the numbers a=2 and b=3 are suitable (2^3+3^3=8+27=35). If x=4, then no pair of numbers a and b are suitable.

**Input**
Th

[2021-10-01 17:41] Master-Helix commented on #103
@SarthakKeshari Sir,
Please assign me this question for  Hacktoberfest.
Thank You.

[2021-10-01 17:42] paltannistha commented on #102
Okay.

[2021-10-01 17:44] Atharvp18 commented on #95
Okay, I will make another issue with the question link I will be solving, yeah sure close this issue.

Thank you

[2021-10-01 18:09] #83 closed

[2021-10-01 18:10] #82 closed

[2021-10-01 18:17] apimpulse opened #105 "Spirally Traversing A Matrix [2D Array]"
### Enter your question -

Given a matrix of size r*c. Traverse the matrix in spiral form.

Example 1:

Input:
r = 4, c = 4
matrix[][] = {{1, 2, 3, 4},
{5, 6, 7, 8},
{9, 10, 11, 12},
{13, 14, 15,16}}
Output:
1 2 3 4 8 12 16 15 14 13 9 5 6 7 11 10

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/spiral-matrix/

### Tags for the question(eg

[2021-10-01 18:17] apimpulse commented on #105
Kindly assign this issue to me

[2021-10-01 18:22] Fury-MadMax opened #106 "Collecting Coins"
### Enter your question -
Polycarp has three sisters: Alice, Barbara, and Cerene. They're collecting coins. Currently, Alice has a coins, Barbara has b coins and Cerene has c coins. Recently Polycarp has returned from the trip around the world and brought n coins.

He wants to distribute all these n coins between his sisters in such a way that the number of coins Alice has is equal to the number o

[2021-10-01 18:22] SarthakKeshari commented on #59
@PrashantSrivastava33,
Kindly add your solution to "String Handling" folder.
Deadline - 02/10/2021

[2021-10-01 18:23] Fury-MadMax commented on #106
Sir @SarthakKeshari,
Kindly assign this question to me for contribution under Hacktoberfest-2021.

[2021-10-01 18:32] sej28 opened #107 "Create ATM.cpp"
### Enter your question -
Pooja would like to withdraw X $US from an ATM. The cash machine will only accept the transaction if X is a multiple of 5, and Pooja's account balance has enough cash to perform the withdrawal transaction (including bank charges). For each successful withdrawal the bank charges 0.50 $US. Calculate Pooja's account balance after an attempted transaction.

### Enter link to

[2021-10-01 18:32] sej28 commented on #107
Hey, I would like to work on this issue!!PLease assign it to me

[2021-10-01 18:34] gb07bh commented on #96
You may close the issue. I would create pull requests and surely imply with the given instructions.

[2021-10-01 18:41] sej28 opened #108 "Add AreaOrPerimeter.cpp"
### Enter your question
Write a program to obtain length (L) and breadth (B) of a rectangle and check whether its area is greater or perimeter is greater or both are equal.

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/problems/AREAPERI

[2021-10-01 18:42] sej28 commented on #108
Please assign this to me!!

[2021-10-01 19:08] SarthakKeshari commented on #98
@Prajakta102,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 03/10/2021

[2021-10-01 19:10] SarthakKeshari commented on #71
@aaditya9899,
Go ahead, Kindly add your solution to "Arrays/2D Arrays" folder.
Deadline - 03/10/2021

[2021-10-01 19:14] #59 closed

[2021-10-01 19:16] #70 closed

[2021-10-01 19:17] #86 closed

[2021-10-01 19:19] #63 closed

[2021-10-01 19:47] #65 closed

[2021-10-01 19:48] #88 closed

[2021-10-01 20:03] SarthakKeshari commented on #102
@paltannistha,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 03/10/2021

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-01 20:04] SarthakKeshari commented on #103
@Master-Helix,
Kindly add your solution to "CodeForces" folder
Deadline - 03/10/2021

[2021-10-01 20:06] #54 closed

[2021-10-01 20:09] Atharvp18 opened #110 "Infix to Postfix and Infix to Prefix in cpp"
### A brief about your proposal -
I would like to contribute my code for infix to postfix & prefix conversion using stack in cpp. Please assign me this task.

Thank you

[2021-10-01 20:11] SarthakKeshari commented on #110
@Atharvp18,
Kindly follow the issue template

[2021-10-01 20:12] #95 closed

[2021-10-01 20:13] paltannistha commented on #102
ok

[2021-10-01 20:18] SarthakKeshari commented on #108
@sej28,
Kindly add your solution to "codechef" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 20:20] Prasoon-Jain commented on #58
@SarthakKeshari Please label it and assign it to me.

[2021-10-01 20:21] SarthakKeshari commented on #107
@sej28,
Kindly add your solution to "codechef" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 20:26] SarthakKeshari commented on #106
@Fury-MadMax,
Kindly add your solution to "codeforces" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 20:29] #106 closed

[2021-10-01 20:33] Ritwik009 opened #114 "Longest Common Subsequence[Question Title]"
Given two strings text1 and text2, return the length of their longest common subsequence. If there is no common subsequence, return 0.

A subsequence of a string is a new string generated from the original string with some characters (can be none) deleted without changing the relative order of the remaining characters.

For example, "ace" is a subsequence of "abcde".

A common subsequence of two s

[2021-10-01 20:34] Ritwik009 commented on #114
Kindly assign this issue to me

[2021-10-01 20:34] mack611 opened #115 "Stack Using Linked List"
### Enter your question -
Create a stack using linked list.

### Enter link to the question(if question belongs to any online platform) -
No

### Tags for the question(eg - Array, Basic, Stack, etc.) -
linked list , stack , functions

[2021-10-01 20:35] SarthakKeshari commented on #58
@Prasoon-Jain,
Kindly add your solution to "Coding Competition" folder.
Deadline - 03/10/2021

[2021-10-01 20:35] mack611 commented on #115
@SarthakKeshari  pls assign me this

[2021-10-01 20:38] Fury-MadMax opened #116 "Football"
### Enter your question -
One day Vasya decided to have a look at the results of Berland 1910 Football Championship’s finals. Unfortunately he didn't find the overall score of the match; however, he got hold of a profound description of the match's process. On the whole there are n lines in that description each of which described one goal. Every goal was marked with the name of the team that had

[2021-10-01 20:38] #57 closed

[2021-10-01 20:39] Fury-MadMax commented on #116
Sir @SarthakKeshari,
Kindly assign this question to me for contribution under Hacktoberfest-2021.

[2021-10-01 20:40] SarthakKeshari commented on #115
@mack611,
Kindly add your solution to "Data Structure/Linked List/Single Linked List" folder
Deadline - 03/10/2021

[2021-10-01 20:41] SarthakKeshari commented on #114
@Ritwik009,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-01 20:44] SarthakKeshari commented on #116
@Fury-MadMax,
Kindly add your solution to "codeforces" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-01 20:46] SarthakKeshari commented on #105
@apimpulse,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-01 20:46] Ritwik009 opened #117 "Merge k Sorted Lists"
### Enter your question -
You are given an array of k linked-list lists, each linked-list is sorted in ascending order.

Merge all the linked lists into one sorted linked list and return it.

Example 1:

Input: lists = [[1,4,5],[1,3,4],[2,6]]
Output: [1,1,2,3,4,4,5,6]
Explanation: The linked lists are:
[
  1->4->5,
  1->3->4,
  2->6
]
merging them into one sorted list:
1->1->2->3->4->4->5->6
Examp

[2021-10-01 20:46] Ritwik009 commented on #117
@SarthakKeshari Kindly assign this issue to me

[2021-10-01 20:48] #116 closed

[2021-10-01 20:52] Ritwik009 commented on #76
@SarthakKeshari How about **CodeThrashers**

[2021-10-01 20:53] Fury-MadMax opened #118 "Maximum Light Up"
### Enter your question -
Chef has allocated himself a budget of P rupees to buy Diwali crackers. There are only 3 types of crackers available in the market and each type of cracker can be bought any number of times.

1. Fuljhari, where each costs a rupees
2. Anar, where each costs b rupees
3. Chakri, where each costs c rupees

The crackers have the following interesting properties:-

- A Fuljhari

[2021-10-01 20:55] Fury-MadMax commented on #118
@SarthakKeshari Sir,
Please assign me this question for Hacktoberfest 2021.
Thank You.

[2021-10-01 21:50] Blankita21 commented on #114
Kindly assign this issue to me

[2021-10-01 21:55] SarthakKeshari commented on #114
@Blankita21,
You may refer CONTRIBUTING.md to see how you can contribute to this repository.
Initially this issue is already assigned to @Ritwik009

[2021-10-02 02:47] #98 closed

[2021-10-02 04:45] Harshit-Poddar90 opened #123 "Basic Data Types"
### Enter your question -
Some C++ data types, their format specifiers, and their most common bit widths are as follows:

Int ("%d"): 32 Bit integer
Long ("%ld"): 64 bit integer
Char ("%c"): Character type
Float ("%f"): 32 bit real value
Double ("%lf"): 64 bit real value

### Enter link to the question(if question belongs to any online platform) -
https://www.hackerrank.com/challenges/c-tutorial-b

[2021-10-02 04:45] Harshit-Poddar90 commented on #123
kindly assign

[2021-10-02 04:47] SarthakKeshari commented on #123
@Harshit-Poddar90,
Kindly place your solution in "hackerrank" folder.
Deadline - 02/10/2021

[2021-10-02 04:57] Harshit-Poddar90 opened #124 "Operation choice"
### Enter your question -
Write a menu driven program to get the kind of operation user wants to perform on the two numeric values and return the answer accordingly

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
if-else

[2021-10-02 04:57] Harshit-Poddar90 commented on #124
kindly assign

[2021-10-02 04:58] SarthakKeshari commented on #124
@Harshit-Poddar90,
Kindly add your solution to "Basic Codes" folder.
Deadline - 02/10/2021

[2021-10-02 05:02] Prajakta102 commented on #115
Kindly assign this issue to me

[2021-10-02 05:35] sej28 commented on #108
Okay

[2021-10-02 05:43] #124 closed

[2021-10-02 05:48] Rajat-Jain29 opened #129 "Climbing Stairs"
### Enter your question -
You are climbing a staircase. It takes n steps to reach the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

### Enter link to the question(if question belongs to any online platform) -
LeetCode
https://leetcode.com/problems/climbing-stairs/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-10-02 05:48] Rajat-Jain29 commented on #129
@SarthakKeshari Please assign me this issue under the label of hacktoberfest.
Thank You.

[2021-10-02 06:06] ThejaswinS opened #131 "Chef Zomo and Zoo"
### Enter your question -
Chef zomo runs a zoo and every afternoon after lunch he comes and makes sure that none of the animals have escaped. He has a huge list of all the animals and checks each animal off as he sees it, but thinks this is really inefficient. He only cares about what animal they are, since all similar animals share a cage. So, if he has a Capuchin monkey and Squirrel monkey, Chef

[2021-10-02 06:07] Master-Helix opened #132 "Yet_Another_Palindrome_Problem"
### Enter your question -
You are given an array a consisting of n integers.

Your task is to determine if a has some subsequence of length at least 3 that is a palindrome.

Recall that an array b is called a subsequence of the array a if b can be obtained by removing some (possibly, zero) elements from a (not necessarily consecutive) without changing the order of the remaining elements. For examp

[2021-10-02 06:08] Master-Helix commented on #132
@SarthakKeshari  Sir,
Kindly assign me this question under Hacktoberfest-21.
Thank You.

[2021-10-02 06:08] SarthakKeshari commented on #118
@Fury-MadMax,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

[2021-10-02 06:08] ThejaswinS commented on #131
@SarthakKeshari  Kindly please assign me this issue
#hacktoberfest21

[2021-10-02 06:12] SarthakKeshari commented on #131
@ThejaswinS,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

[2021-10-02 06:51] SarthakKeshari commented on #132
@Master-Helix,
Kindly add your solution to "codeforces" folder.
Deadline - 03/10/2021

[2021-10-02 06:52] #103 closed

[2021-10-02 06:52] Adityagupta1625 opened #134 "Median in a row-wise sorted Matrix"
### Question-
Given a row wise sorted matrix of size RxC where R and C are always odd, find the median of the matrix.

### Example:

Input:
R = 3, C = 3
M = [[1, 3, 5],
     [2, 6, 9],
     [3, 6, 9]]

Output: 5

Explanation:
Sorting matrix elements gives us
{1,2,3,3,5,6,6,9,9}. Hence, 5 is median.

### Link:
https://practice.geeksforgeeks.org/problems/median-in-a-row-wise-sorted-matrix1527/1

###

[2021-10-02 06:53] Adityagupta1625 commented on #134
Pls assign me this issue

[2021-10-02 06:58] #96 closed

[2021-10-02 06:59] SarthakKeshari commented on #117
@Ritwik009,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 07:01] SarthakKeshari commented on #129
@Rajat-Jain29,
Kindly add your solution to "leetcode" folder.
Deadline - 02/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-02 07:03] SarthakKeshari commented on #134
@Adityagupta1625,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 03/10/2021

[2021-10-02 07:19] Adityagupta1625 commented on #134
Okk Sure

[2021-10-02 07:35] arihantthriwe opened #136 "Longest Increasing Path"
### Enter your question -
Given a two-dimensional integer matrix, find the length of the longest strictly increasing path. You can move up, down, left, or right.

Constraints :
n, m ≤ 500 where n and m are the number of rows and columns in matrix

Example :
Input-:
matrix = [
    [1, 3, 5],
    [0, 4, 6],
    [2, 2, 9]
]
Output-:
6
Explanation-:
The longest path is [0, 1, 3, 5, 6, 9]

### Enter li

[2021-10-02 07:43] Jibendu007 commented on #136
@arihantthriwe can i be assigned to this?

[2021-10-02 07:44] SarthakKeshari commented on #136
@Jibendu007,
Kindly check the link it is not giving any response

[2021-10-02 07:45] arihantthriwe commented on #136
It's working fine.

[2021-10-02 07:45] Jibendu007 commented on #136
???

[2021-10-02 07:46] arihantthriwe commented on #136
And i posted this to get myself assigned :) @SarthakKeshari

[2021-10-02 07:46] Jibendu007 commented on #110
@SarthakKeshari can i be assigned to this?

[2021-10-02 07:47] Jibendu007 commented on #136
okay then @arihantthriwe

[2021-10-02 07:51] arihantthriwe commented on #136
Please check @SarthakKeshari

[2021-10-02 08:13] #92 closed

[2021-10-02 08:22] SarthakKeshari commented on #136
@arihantthriwe,
Ok they might me having some server issue.

[2021-10-02 08:24] SarthakKeshari commented on #136
@arihantthriwe,
Kindly add you solution to "Arrays/2D Arrays" folder.
Deadline - 03/10/2021

[2021-10-02 09:08] #118 closed

[2021-10-02 09:19] Fury-MadMax opened #140 "Chef and his bookstore"
### Enter your question -
Chef is giving a offer in his new opened bookstore “anyone can take three and pay for the only two more expensive ones”. So, each customer who picks three books gets the cheapest one for free. The customer can take even more books and, depending on the way the books are arranged into groups of three, get the cheapest one in each group for free. For eg,say if the prices of

[2021-10-02 09:20] Fury-MadMax commented on #140
@SarthakKeshari Sir,
Please assign me this question for Hacktoberfest 2021.
Thank You.

[2021-10-02 09:43] Prajakta102 opened #141 "Check if two binary trees are identical or not – Iterative and Recursive"
### Enter your question -
Your answer
Write an efficient algorithm to check if two binary trees are identical or not.

### Enter link to the question(if question belongs to any online platform) -

https://www.techiedelight.com/check-if-two-binary-trees-are-identical-not-iterative-recursive/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Your answer

binary tree,Stack

[2021-10-02 09:43] Prajakta102 commented on #141
kindly assign this task to me.

[2021-10-02 10:02] SarthakKeshari commented on #140
@Fury-MadMax,
Kindly add your solution to "codechef" folder.
Deadline - 03/10/2021

[2021-10-02 10:05] SarthakKeshari commented on #141
@Prajakta102,
Kindly create add your solution to "Data Structure/Trees/Binary Trees".
Deadline - 04/10/2021

Strict advice -
Be original in your code. In case of found plagarism in later review even after a successful merge may lead to ban.

[2021-10-02 10:05] Master-Helix opened #144 "Divisors of Two Integers"
### Enter your question -
Recently you have received two positive integer numbers x and y. You forgot them, but you remembered a shuffled list containing all divisors of x (including 1 and x) and all divisors of y (including 1 and y). If d is a divisor of both numbers x and y at the same time, there are two occurrences of d in the list.

For example, if x=4 and y=6 then the given list can be any p

[2021-10-02 10:05] Master-Helix commented on #144
@SarthakKeshari  Sir,
Kindly assign me this Question under Hacktoberfest-21.
Thank You.

[2021-10-02 10:13] SarthakKeshari commented on #144
@Master-Helix,
Kindly add your solution to "codeforces" folder.
Deadline - 03/10/2021

[2021-10-02 11:12] iammohit07 opened #145 "Solution to Popular Hackerrank Problem"
### A brief about your proposal -
There is a famous basic 2D Array problem in Hackerrank called max HourGlass Sum.
I can give solution to that problem.

[2021-10-02 11:35] #132 closed

[2021-10-02 11:47] #136 closed

[2021-10-02 11:58] SarthakKeshari commented on #145
@iammohit07,
Yes you can, Just create an issue add a question and claim it

[2021-10-02 12:12] sauravs0 opened #146 "CodeForces 1579B - Shifting Sort"
### Enter your question -
The new generation external memory contains an array of integers a[1…n]=[a1,a2,…,an].

This type of memory does not support changing the value of an arbitrary element. Instead, it allows you to cut out any segment of the given array, cyclically shift (rotate) it by any offset and insert it back into the same place.

Technically, each cyclic shift consists of two consecuti

[2021-10-02 12:13] sauravs0 commented on #146
@SarthakKeshari Sir,
Kindly assign me this Question under Hacktoberfest-21.
Thank You.

[2021-10-02 12:23] SarthakKeshari commented on #146
@sauravs0,
Kindly add your solution to "codeforces" folder.
Deadline - 03/10/2021

[2021-10-02 12:56] Hitesh-bonam opened #147 "average"
### Enter your question -
write the program for calculation average of 10 marks

### Enter link to the question(if question belongs to any online platform) -
no link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
maths , basic

[2021-10-02 12:57] Hitesh-bonam commented on #147
kindly assign this issue.

[2021-10-02 12:58] SarthakKeshari commented on #147
@Hitesh-bonam,
Kindly add your solution to "Basic Codes" folder.
Deadline - 02/10/2021

[2021-10-02 13:42] #147 closed

[2021-10-02 14:03] arihantthriwe opened #150 "Zipped String"
### Enter your question -
Given lowercase alphabet strings a, b, and c return whether there's any way of obtaining c by merging characters in order from a and b.

Constraints:

0 ≤ n ≤ 1,000 where n is the length of a
0 ≤ m ≤ 1,000 where m is the length of b
0 ≤ k ≤ 1,000 where k is the length of c

Example 1
Input:-
a = "abc"
b = "def"
c = "abdefc"
Output:-
true

### Enter link to the question(if

[2021-10-02 14:17] arihantthriwe commented on #150
Pleas assign me this :) @SarthakKeshari

[2021-10-02 14:23] jainsanyam228 opened #151 "1569C - Jury Meeting || CodeForces"
### Enter your question -
n people gathered to hold a jury meeting of the upcoming competition, the i-th member of the jury came up with ai tasks, which they want to share with each other.

First, the jury decides on the order which they will follow while describing the tasks. Let that be a permutation p of numbers from 1 to n (an array of size n where each integer from 1 to n occurs exactly once)

[2021-10-02 14:30] jainsanyam228 commented on #151
@SarthakKeshari Kindly please assign me this issue
#hacktoberfest21

[2021-10-02 14:38] SarthakKeshari opened #152 "Date Validation"
### Enter your question -
Write a program to validate the date entered by the user.
Date format - dd/yyyy/mm

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String Handling, if

[2021-10-02 14:50] PrashantSrivastava33 commented on #152
please assign me this question

[2021-10-02 14:50] smitaranii opened #154 "Permutations"
### Enter your question -
Given an array nums of distinct integers, return all the possible permutations. You can return the answer in any order.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/permutations/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array Backtracking
Can  you assign me this question?

[2021-10-02 15:01] jainsanyam228 commented on #151
@SarthakKeshari  please assigh

[2021-10-02 15:08] SarthakKeshari commented on #152
@PrashantSrivastava33,
Kindly add your solution to "String Handling" folder
Deadline - 03/10/2021

[2021-10-02 15:08] PrashantSrivastava33 commented on #154
please assign me this question @SarthakKeshari

[2021-10-02 15:11] SarthakKeshari commented on #151
@jainsanyam228,
Kindly add your solution to "codeforces" folder.
Deadline - 04/10/2021

[2021-10-02 15:15] SarthakKeshari commented on #154
@smitaranii,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

[2021-10-02 15:17] SarthakKeshari commented on #150
@arihantthriwe,
Kindly add you solution to "String Handling" folder.
Deadline - 03/10/2021

[2021-10-02 15:22] Ritwik009 opened #155 "Dungeon Game"
### Enter your question -
The demons had captured the princess and imprisoned her in the bottom-right corner of a dungeon. The dungeon consists of m x n rooms laid out in a 2D grid. Our valiant knight was initially positioned in the top-left room and must fight his way through the dungeon to rescue the princess.

The knight has an initial health point represented by a positive integer. If at any p

[2021-10-02 15:22] Ritwik009 commented on #155
@SarthakKeshari Kindly assign this issue to me

[2021-10-02 15:42] SarthakKeshari commented on #155
@Ritwik009,
Kindly add your solution to "leetcode" folder
Deadline - 03/10/2021

[2021-10-02 15:45] #134 closed

[2021-10-02 16:04] #140 closed

[2021-10-02 16:07] jarvis-sharma opened #158 "CSES"
### A brief about your proposal -
There are problems added from various platform but CSES is missing. This repo will remain uncomplete without it.

[2021-10-02 16:22] #117 closed

[2021-10-02 16:26] SarthakKeshari commented on #158
@jarvis-sharma,
Your proposal is welcome. Go ahead and make this valuable addition to repository with your issue claim.

[2021-10-02 16:31] Hariprasad19036 opened #159 "Higher Order Functions"
### Enter your question -
Helen studies functional programming and she is fascinated with a concept of higher order functions — functions that are taking other functions as parameters. She decides to generalize the concept of the function order and to test it on some examples.

For her study, she defines a simple grammar of types. In her grammar, a type non-terminal T is defined as one of the foll

[2021-10-02 16:32] Hariprasad19036 commented on #159
I would like to work on this issue, kindly assign this issue to me with hacktoberfest label. Thankyou!

[2021-10-02 16:32] jarvis-sharma commented on #158
@SarthakKeshari ,
You marked my pull request as spam.

[2021-10-02 16:33] Fury-MadMax opened #162 "Maximise the Subsequence Sum"
### Enter your question -
Chef has an array A containing N integers. The integers of the array can be positive, negative, or even zero.

Chef allows you to choose at most K elements of the array and multiply them by −1.

Find the maximum sum of a subsequence you can obtain if you choose the elements of the subsequence optimally.

Note: A sequence a is a subsequence of a sequence b if a can be obta

[2021-10-02 16:34] Fury-MadMax commented on #162
@SarthakKeshari Sir,
Please assign me this question for Hacktoberfest 2021.
Thank You.

[2021-10-02 16:49] SarthakKeshari commented on #158
@jarvis-sharma,
It was against code of conduct to create incomplete PR that too without raising an issue.

[2021-10-02 16:52] SarthakKeshari commented on #159
@Hariprasad19036,
Kindly add your solution to "codeforces" folder
Deadline - 03/10/2021

[2021-10-02 17:31] SarthakKeshari commented on #162
@Fury-MadMax,
Kindly add your solution to "codechef" folder
Deadline - 03/10/2021

[2021-10-02 17:32] Architgupta001 opened #167 "Find k’th largest element in an array"
### Enter your question -
Find k’th largest element in an array
Input:

arr = [7, 4, 6, 3, 9, 1]
k = 2

Output:

The 2nd largest array element is 7

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
DataStructure, Heap, CPP

[2021-10-02 17:32] Architgupta001 commented on #167
I want to contribute to this issue, please assign me

[2021-10-02 17:43] SarthakKeshari commented on #167
@Architgupta001,
Kindly add your solution to "Data Structure/Heap" folder
Deadline - 03/10/2021

[2021-10-02 18:16] #151 closed

[2021-10-02 18:18] #67 closed

[2021-10-02 18:22] agrohi-avi commented on #167
I want to contribute ,Please assign me

[2021-10-02 18:23] SarthakKeshari commented on #167
@agrohi-avi,
You may come up with a new question. This one has been recently assigned.

[2021-10-02 18:24] Hariprasad19036 commented on #159
@SarthakKeshari sir, I have added my solution in the "codeforces" folder and also opened a Pull Request. Kindly review and accept the same. Thanks in advance!

[2021-10-02 18:26] SarthakKeshari commented on #158
@jarvis-sharma,
I am closing this issue, create a new issue "Add a question"

[2021-10-02 18:26] #158 closed

[2021-10-02 18:28] Zafershah24 opened #172 "To Find a string is Lapindrome or Not"
### Enter your question -
Lapindrome is defined as a string which when split in the middle, gives two halves having the same characters and same frequency of each character. If there are odd number of characters in the string, we ignore the middle character and check for lapindrome. For example gaga is a lapindrome, since the two halves ga and ga have the same characters with same frequency. Also,

[2021-10-02 18:29] SarthakKeshari commented on #172
@Zafershah24,
Kindly fill the above Issue template.

[2021-10-02 18:31] Zafershah24 commented on #172
@SarthakKeshari Yes, I saw the template late, give me some time

[2021-10-02 18:31] #159 closed

[2021-10-02 18:35] Zafershah24 commented on #172
Kindly assign me this Issue. Thanks

[2021-10-02 18:36] #131 closed

[2021-10-02 19:59] #105 closed

[2021-10-02 20:30] SarthakKeshari commented on #172
@Zafershah24,
Kindly add your solution to "codechef" folder
Deadline - 04/10/2021

[2021-10-02 20:34] SarthakKeshari commented on #110
@Jibendu007,
Create "Add a question" issue for the above then I can assign it.

[2021-10-02 20:35] #90 closed

[2021-10-02 20:35] #33 closed

[2021-10-02 20:42] PrakharRathore123 opened #174 "Print the level order traversal of binary tree and print the left view and right view of binary tree"
### Enter your question -
1)Print the level order traversal of binary tree .
2)Print the left view of binary tree.
3) Print right view of binary tree.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Queue, Binary Tree , Recursion

[2021-10-02 20:42] PrakharRathore123 commented on #174
@SarthakKeshari Kindly issue me this problem

[2021-10-02 20:44] PrakharRathore123 opened #175 "Print the Vertical order Traversal of Binary tree and Print the top view and bottom view of binary tree."
### Enter your question -
1)Print the vertical order Traversal of Binary tree.
2) Print the top view of binary tree.
3)Print the Bottom view of binary tree.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Recursion , Queue , Binary tree

[2021-10-02 20:45] PrakharRathore123 commented on #175
@SarthakKeshari Kindly issue me this problem.

[2021-10-02 20:51] #155 closed

[2021-10-02 20:53] #146 closed

[2021-10-02 20:57] SarthakKeshari commented on #174
@PrakharRathore123,
Kindly add your solution to "Data Structure/Trees/Binary Trees" folder.
Deadline - 04/10/2021

[2021-10-02 20:58] SarthakKeshari commented on #175
@PrakharRathore123,
Kindly add your solution to "Data Structure/Trees/Binary Trees" folder.
Deadline - 04/10/2021

[2021-10-02 21:10] mack611 opened #177 "Create k stacks in a single array"
### Enter your question -
Create k stacks in a array using dynamic memory.

### Enter link to the question(if question belongs to any online platform) -
No

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Stack,array,function

[2021-10-02 21:10] mack611 commented on #177
@SarthakKeshari pls assign me this

[2021-10-02 21:28] SarthakKeshari commented on #177
@mack611,
Kindly add your solution to "Data Structure/Stack" folder
Deadline - 03/10/2021

[2021-10-02 21:54] #150 closed

[2021-10-02 22:06] #177 closed

[2021-10-03 04:07] #129 closed

[2021-10-03 05:05] #141 closed

[2021-10-03 05:11] Prajakta102 opened #179 "DETECT LOOP IN SINGLY LINKED LIST"
### Enter your question -
Your answer
check if loop is present in linked list or not.

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Your answer
#Linked list

[2021-10-03 05:42] SarthakKeshari commented on #179
@Prajakta102,
Kindly add your solution to "Data Structure/Linked List/Single Linked List" folder
Deadline - 04/10/2021

[2021-10-03 06:44] #179 closed

[2021-10-03 06:50] Prajakta102 commented on #179
can i make one more pull request

[2021-10-03 07:08] unnati-bhatia opened #181 "Permutation Minimization by Deque"
### Enter your question -
A permutation p of size n is given. A permutation of size n is an array of size n in which each integer from 1 to n occurs exactly once. For example, [1,4,3,2] and [4,2,1,3] are correct permutations while [1,2,4] and [1,2,2] are not.

Let us consider an empty deque (double-ended queue). A deque is a data structure that supports adding elements to both the beginning and th

[2021-10-03 07:12] kartik-ey1 opened #182 "XOR Equal"
### Enter your question -
You are given an array A consisting of N integers and an integer X. Your goal is to have as many equal integers as possible in the array. To achieve this goal, you can do the following operation:

Choose an index i (1≤i≤N) and set Ai=Ai⊕X, where ⊕ denotes the bitwise xor operation.
Find the maximum number of equal integers you can have in the final array and the minimum n

[2021-10-03 07:12] SarthakKeshari commented on #181
@unnati-bhatia,
Kindly add you solution to "codeforces" folder.
Deadline - 04/10/2021

[2021-10-03 07:13] SarthakKeshari commented on #182
@kartik-ey1,
Kindly add your solution to "codechef" folder
Deadline - 04/10/2021

[2021-10-03 07:13] kartik-ey1 commented on #182
I WANT TO CONTRIBUTE IN THIS
CAN YOU PLEASE ASSIGN ME  @SarthakKeshari

[2021-10-03 07:14] SarthakKeshari commented on #179
@Prajakta102,
For sure

[2021-10-03 07:17] SarthakKeshari opened #183 "Tic-Tac-Toe(Admin Choice - Level X)"
### Enter your question -
Write a program for end user so that he/she can play tic-tac-toe game with computer or game can be played by two end users.

Fulfilling all the below conditions is necessary for PR to be accepted -
Game UI and working -
[Tic-Tac-Toe.pdf](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/files/7272868/Tic-Tac-Toe.pdf)

#### IMPORTANT - Two people can be assigne

[2021-10-03 07:21] SarthakKeshari commented on #183
@everyone,
Deadline - 08/10/2021

[2021-10-03 07:22] SarthakKeshari commented on #183
Everyone,
Deadline - 08/10/2021

[2021-10-03 07:22] ThejaswinS opened #184 "Repeated DNA Sequences"
### Enter your question -
The DNA sequence is composed of a series of nucleotides abbreviated as 'A', 'C', 'G', and 'T'.

For example, "ACGAATTCCG" is a DNA sequence.
When studying DNA, it is useful to identify repeated sequences within the DNA.

Given a string s that represents a DNA sequence, return all the 10-letter-long sequences (substrings) that occur more than once in a DNA molecule. You ma

[2021-10-03 07:23] SarthakKeshari commented on #182
@kartik-ey1,
Kindly add your solution to "codechef" folder
Deadline - 04/10/2021

[2021-10-03 07:24] SarthakKeshari commented on #184
@ThejaswinS,
Kindly add your solution to "leetcode" folder
Deadline - 04/10/2021

[2021-10-03 07:30] ujju20 opened #185 "Check Wether a Number is power of 4 or not using Bit Manipulation"
### Enter your question -
Given an integer n, return true if it is a power of four. Otherwise, return false.

An integer n is a power of four, if there exists an integer x such that n == 4^x.

### Enter link to the question(if question belongs to any online platform) -
[Power of 4](https://leetcode.com/problems/power-of-four/)

### Tags for the question(eg - Array, Basic, Stack, etc.) -
BitManipul

[2021-10-03 07:30] rohitkumar9710 opened #186 "Array Optimization by Deque"
### Enter your question -
You are given an integer array a[1…n]=[a1,a2,…,an].

Let us consider an empty deque (double-ended queue). A deque is a data structure that supports adding elements to both the beginning and the end. So, if there are elements [3,4,4] currently in the deque, adding an element 1 to the beginning will produce the sequence [1,3,4,4], and adding the same element to the end will

[2021-10-03 07:31] Prajakta102 opened #187 "Print Left view of binary tree(iterative approach)"
### Enter your question -
Your answer
Given a binary tree, write an efficient algorithm to print its left view.

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Your answer
Binary tree,list,queue

[2021-10-03 07:31] Prajakta102 commented on #187
Kindly assign this task to me.

[2021-10-03 07:38] ujju20 opened #189 "Implemetation of heap using Vector"
### Enter your question -
Implement heap data structure using array.

### Enter link to the question(if question belongs to any online platform) -
NA

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Heap, Array, Recursion

[2021-10-03 07:42] SarthakKeshari commented on #187
@Prajakta102,
Kindly add your solution to "Data Structure/Trees/Binary Trees" folder
Deadline - 04/10/2021

[2021-10-03 07:47] SarthakKeshari commented on #189
@ujju20,
Kindly add your solution to "Data Structure/Heap" folder.
Deadline - 04/10/2021

[2021-10-03 07:49] SarthakKeshari commented on #185
@ujju20,
Kindly add your solution to "leetcode" folder.
Deadline - 03/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-03 07:51] SarthakKeshari commented on #186
@rohitkumar9710,
Kindly add your solution to "codeforces" folder.
Deadline - 04/10/2021

[2021-10-03 08:12] #184 closed

[2021-10-03 08:26] SarthakKeshari opened #191 "SemiSort 2"
### Enter your question -
Write a program to sort the array according to given condition.
Sort all the elements at even index in ascending order and all the elements at odd index in descending order.
#### Reminder - Array index starts from 0.

Example -
Input:
5
4 4 2 5 2

Output:
2 5 2 4 4

Explaination -
Array: 4 4 2 5 2
Index: 0 1 2 3 4

Now sorting even indexes in ascending order and odd index

[2021-10-03 08:34] tanishagarg1803 opened #193 "Kadane's Algorithm"
### Enter your question -
Kadane's Algorithm
Medium Accuracy: 51.0% Submissions: 100k+ Points: 4
Given an array Arr[] of N integers. Find the contiguous sub-array(containing at least one number) which has the maximum sum and return its sum.

Example 1:

Input:
N = 5
Arr[] = {1,2,3,-2,5}
Output:
9
Explanation:
Max subarray sum is 9
of elements (1, 2, 3, -2, 5) which
is a contiguous subarray.
Exampl

[2021-10-03 08:35] tanishagarg1803 commented on #193
I am working for hacktoberfest 2021.
Please assign this issue to me.
Thankyou!

[2021-10-03 09:07] SarthakKeshari commented on #193
@tanishagarg1803,
Kindly add your solution to "GeeksForGeeks" folder
Deadline - 04/10/2021

[2021-10-03 09:11] #181 closed

[2021-10-03 10:26] Ritwik009 opened #197 "Jump Game"
### Enter your question -
You are given an integer array nums. You are initially positioned at the array's first index, and each element in the array represents your maximum jump length at that position.

Return true if you can reach the last index, or false otherwise.

Example 1:

Input: nums = [2,3,1,1,4]
Output: true
Explanation: Jump 1 step from index 0 to 1, then 3 steps to the last index.
Ex

[2021-10-03 10:27] Ritwik009 commented on #197
@SarthakKeshari Kindly assign this issue to me.

[2021-10-03 10:32] Ritwik009 commented on #183
@SarthakKeshari Kindly assign this issue to me.

[2021-10-03 10:55] iammohit07 opened #198 "Maximum HourGlass Sum 2D Array."
### Enter your question -
Given a 2D Array of 6 x 6 :
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
An hourglass is a subset of values with indices falling in this pattern in this graphical representation.
There are 16 hourglasses in array . An hourglass sum is the sum of an hourglass' values. Calculate the hourglass sum for every hourglass in array, then print the maximu

[2021-10-03 10:58] pptsagar279 opened #199 "C. Less or Equal"
### Enter your question -
You are given a sequence of integers of length n and integer number k. You should print any integer number x in the range of [1;109] (i.e. 1≤x≤109) such that exactly k elements of given sequence are less than or equal to x.

Note that the sequence can contain equal elements.

If there is no such x, print "-1" (without quotes).

### Enter link to the question(if question b

[2021-10-03 11:04] pptsagar279 opened #200 "B. Ternary String"
### Enter your question -
You are given a string s such that each its character is either 1, 2, or 3. You have to choose the shortest contiguous substring of s such that it contains each of these three characters at least once.

A contiguous substring of string s is a string that can be obtained from s by removing some (possibly zero) characters from the beginning of s and some (possibly zero) cha

[2021-10-03 11:06] ujju20 opened #201 "Median of Two Sorted Arrays of Different Sizes"
### Enter your question -
Given two sorted arrays array1 and array2 of size m and n respectively. Find the median of the two sorted arrays in the best time complexity.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/median-of-2-sorted-arrays-of-different-sizes/1#

### Tags for the question(eg - Array, Basic, Stack, etc.) -
A

[2021-10-03 11:08] ujju20 opened #202 "Job Sequencing Problem"
### Enter your question -
Given a set of N jobs where each job has a deadline and profit associated with it. Each job takes 1 unit of time to complete and only one job can be scheduled at a time. We earn the profit if and only if the job is completed by its deadline. The task is to find the number of jobs done and the maximum profit.

### Enter link to the question(if question belongs to any onlin

[2021-10-03 11:09] ujju20 opened #203 "K-th element of two sorted Arrays"
### Enter your question -
Given two sorted arrays arr1 and arr2 of size N and M respectively and an element K. The task is to find the element that would be at the k’th position of the final sorted array.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/k-th-element-of-two-sorted-array1317/1

### Tags for the question(eg - Ar

[2021-10-03 11:23] SarthakKeshari commented on #197
@Ritwik009,
Go ahead, Kindly add your solution to "leet code" folder.
Deadline - 04/10/2021

[2021-10-03 12:51] SarthakKeshari commented on #76
@rasikaghadge, 👏
😃 I am glad to announce that that "CodersArena"✔ has been selected as the website name for this project.
Kindly create an issue with the title "🌟Website name" to contribute a word file to the repository stating the website name and the reason behind selecting that name.

Thankyou.

[2021-10-03 12:55] SarthakKeshari commented on #183
@Ritwik009,
Sure go ahead.
Kindly create a folder "Coding Application(Games and more)" and add your solution in it
Deadline - 08/10/2021

[2021-10-03 13:02] Surenbayar commented on #191
Please assign this issue to me

[2021-10-03 13:13] SarthakKeshari commented on #191
@Surenbayar,
Kindly add your solution to "Sorting" folder.
Deadline - 04/10/2021

[2021-10-03 13:15] #69 closed

[2021-10-03 13:36] SarthakKeshari commented on #203
@ujju20,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 04/10/2021

[2021-10-03 13:37] SarthakKeshari commented on #202
@ujju20,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 04/10/2021

[2021-10-03 13:39] SarthakKeshari commented on #201
@ujju20,
More than 2 issues can't be assiged to the same contributor at a time.

[2021-10-03 13:40] #174 closed

[2021-10-03 13:42] Vishwajith-Shettigar commented on #203
could you assign me

[2021-10-03 13:52] #193 closed

[2021-10-03 13:56] rasikaghadge opened #207 "🌟Website name"

[2021-10-03 13:57] SarthakKeshari commented on #203
@Vishwajith-Shettigar,
Kindly create a new issue and claim it.
This issue is already assigned.
Refer CONTRIBUTING.md for further details

[2021-10-03 14:10] Anujkumar2017 commented on #199
pls assign me

[2021-10-03 14:33] SarthakKeshari commented on #207
@rasikaghadge,
Congratulations🎉 and Thankyou🎁 for coming up with a catchy and innovative title.
I invite you to add more value to the project by creating a pull request containing
Title of PR - "🌟Website name declaration"
Body of PR -
_Your suggest title_
_Reason for the title_ (**more than 40 words for the reason will be appreciated**)

Also attach a .txt file containing the same details as body

[2021-10-03 14:34] SarthakKeshari commented on #207
Deadline - 05/10/2021

[2021-10-03 14:46] abhilashkpy opened #212 "Sort and Print the Boundary Elements of a 2D Matrix"
### Enter your question -
Write a program in Java to sort the boundary elements of a Two Dimensional Matrix and print the sorted and original matrices.

**Constraints:** The program MUST take input from the user for the dimensions of the matrix.

### Enter link to the question(if question belongs to any online platform) -
N/A

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Basi

[2021-10-03 15:46] Master-Helix opened #214 "Turn_the_Rectangles"
### Enter your question -
There are n rectangles in a row. You can either turn each rectangle by 90 degrees or leave it as it is. If you turn a rectangle, its width will be height, and its height will be width. Notice that you can turn any number of rectangles, you also can turn all or none of them. You can not change the order of the rectangles.

Find out if there is a way to make the rectangles

[2021-10-03 15:46] Master-Helix commented on #214
@SarthakKeshari  Sir, kindly assign this question to me.
Thank You

[2021-10-03 15:49] tausiq2003 commented on #201
can I wok on this

[2021-10-03 15:52] SarthakKeshari commented on #214
@Master-Helix,
Kindly add your solution to "codeforces" folder.
Deadline - 04/10/2021

[2021-10-03 15:55] #172 closed

[2021-10-03 16:04] SwarnimaShishodia opened #216 "[Selection Sort]"
### Enter your question -
Selection sort implementation

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array Sorting Basic

[2021-10-03 16:05] SwarnimaShishodia commented on #216
Kindly assign this issue to me

[2021-10-03 16:06] SwarnimaShishodia opened #217 "[Bubble Sort]"
### Enter your question -
Bubble Sort implementation

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array Sorting Basic

[2021-10-03 16:06] SwarnimaShishodia commented on #217
Kindly assign this issue to me

[2021-10-03 16:07] SwarnimaShishodia opened #218 "Insertion sort"
### Enter your question -
Insertion sort implementation

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array Sorting Basic

[2021-10-03 16:07] SwarnimaShishodia commented on #218
Kindly assign this issue to me

[2021-10-03 16:08] SwarnimaShishodia opened #219 "Merge Sort"
### Enter your question -
Merge Sort Implementation

### Enter link to the question(if question belongs to any online platform) -

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion Array Basic Sorting

[2021-10-03 16:08] SwarnimaShishodia commented on #219
Kindly assign this issue to me

[2021-10-03 16:12] #110 closed

[2021-10-03 16:14] SarthakKeshari commented on #216
@SwarnimaShishodia,
Go ahead, Kindly add your solution to "Sorting" folder.
Deadline - 04/10/2021

[2021-10-03 16:15] SarthakKeshari commented on #217
@SwarnimaShishodia,
Go ahead, Kindly add your solution to "Sorting" folder.
Deadline - 04/10/2021

[2021-10-03 16:15] SarthakKeshari commented on #218
@SwarnimaShishodia,
Kindly note more than 2 issues cannot be assigned at a time.

[2021-10-03 16:16] SarthakKeshari commented on #219
@SwarnimaShishodia,
Kindly note more than 2 issues cannot be assigned at a time.

[2021-10-03 16:17] SarthakKeshari commented on #212
@abhilashkpy,
Kindly add your solution to "Arrays/2D Arrays" folder
Deadline - 04/10/2021

[2021-10-03 16:18] LikhithaTadikonda commented on #219
@SwarnimaShishodia please assign this to me :)

[2021-10-03 16:20] SarthakKeshari commented on #199
@Anujkumar2017,
Kindly add your solution to "codeforces" folder
Deadline - 04/10/2021

[2021-10-03 16:23] SarthakKeshari commented on #201
@tausiq2003,
Kindly add your solution to "GeeksForGeeks" folder
Deadline - 05/10/2021

[2021-10-03 16:28] tausiq2003 commented on #201
ok i will

[2021-10-03 16:51] abhilashkpy commented on #212
I am unable to get the tag of issue #212 while filling out the PR template

[2021-10-03 16:56] PrashantSrivastava33 commented on #152
Could you kindly extend my submission deadline till 12pm tomorrow? (12:00 PM 04/10/2021) @SarthakKeshari

[2021-10-03 17:00] SarthakKeshari commented on #152
Sure,
New(Final) deadline - 04/10/2021

[2021-10-03 17:39] AyushAgrawal25 commented on #218
@SarthakKeshari  can u please assign this to me.

[2021-10-03 18:08] PrakharRathore123 opened #224 "Find the Sum of all nodes at given level of Binary tree."
### Enter your question -
You are given a number representing the level number you have to determine the sum of all nodes at that level.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Queue , Recursion , Binary tree

[2021-10-03 18:21] SarthakKeshari commented on #224
@PrakharRathore123,
Kindly add you solution to "Data Structure/Trees/Binary Trees" folder
Deadline - 04/10/2021

[2021-10-03 18:29] Sahilnegi-code commented on #218
Can u  pls assign me this issue

[2021-10-03 18:33] Anujkumar2017 opened #225 "1232. Check If It Is a Straight Line"
### Enter your question -
You are given an array coordinates, coordinates[i] = [x, y], where [x, y] represents the coordinate of a point. Check if these points make a straight line in the XY plane.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/check-if-it-is-a-straight-line/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
M

[2021-10-03 19:17] jainsanyam228 opened #228 "C. Deep Down Below||codefoeces"
Enter your question -
n a certain video game, the player controls a hero characterized by a single integer value: power. The hero will have to beat monsters that are also characterized by a single integer value: armor.

On the current level, the hero is facing n caves. To pass the level, the hero must enter all the caves in some order, each cave exactly once, and exit every cave safe and sound. Wh

[2021-10-03 19:22] #175 closed

[2021-10-03 19:26] SarthakKeshari commented on #228
@jainsanyam228,
Kindly add your solution to "codeforces" folder
Deadline - 04/10/2021

[2021-10-03 19:32] #187 closed

[2021-10-03 19:34] Aakash-Raj-2001 commented on #228
@SarthakKeshari sir can i work on this issue ?

[2021-10-03 19:36] SarthakKeshari commented on #225
@Anujkumar2017,
KIndly add your solution to "leetcode" folder
Deadline - 04/10/2021

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-03 19:51] PrakharRathore123 opened #231 "Calculate the Number of Nodes, Sum of Nodes , height , diameter of Binary Tree."
### Enter your question -
1) Calculate the Number of Nodes of Binary Tree
2) Sum of Nodes of Binary Tree
3) Height of Binary Tree
4) Diameter of Binary Tree

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary Tree , Recursion .

[2021-10-03 19:53] Blankita21 commented on #231
Kindly assign me this issue.

[2021-10-03 19:55] PrakharRathore123 opened #232 "Sum Replacement."
### Enter your question -
Given a Binary Tree where each node has value. Convert this to a tree where each node contains the sum of the left and right sub trees in the original tree.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary Tree , Recursion

[2021-10-03 19:55] Aakash-Raj-2001 opened #233 "Non-Decreasing Dilemma || codeforces"
### Enter your question -
Alice has recently received an array a1,a2,…,an for her birthday! She is very proud of her array, and when she showed her friend Bob the array, he was very happy with her present too!

However, soon Bob became curious, and as any sane friend would do, asked Alice to perform q operations of two types on her array:

1 x y: update the element ax to y (set ax=y).
2 l r: calcu

[2021-10-03 19:55] PrakharRathore123 commented on #232
@SarthakKeshari Kindly issue me this problem.

[2021-10-03 19:56] PrakharRathore123 commented on #231
@SarthakKeshari Kindly issue me this problem.

[2021-10-03 19:56] Aakash-Raj-2001 commented on #233
@SarthakKeshari Can you assign me this issue ?

[2021-10-03 19:59] Blankita21 commented on #232
Kindly assign me this issue.

[2021-10-03 19:59] Blankita21 commented on #233
Kindly assign me this issue.

[2021-10-03 20:08] jainsanyam228 opened #234 "C. Boats Competition|| codeforces"
### Enter your question -
There are n people who want to participate in a boat competition. The weight of the i-th participant is wi. Only teams consisting of two people can participate in this competition. As an organizer, you think that it's fair to allow only teams with the same total weight.

So, if there are k teams (a1,b1), (a2,b2), …, (ak,bk), where ai is the weight of the first participant

[2021-10-03 20:09] jainsanyam228 commented on #234
@SarthakKeshari  Kindly assign this issue to me

[2021-10-03 20:18] SarthakKeshari commented on #234
@jainsanyam228,
Kindly add your solution to "codeforces" folder
Deadline - 04/10/2021

[2021-10-03 20:19] SarthakKeshari commented on #231
@Blankita21,
Kindly add your solution to "Data Structure/Trees/ Binary Trees" folder
Deadline - 04/10/2021

[2021-10-03 20:21] SarthakKeshari commented on #233
@Aakash-Raj-2001,
Kindly add your solution to "codeforces" folder.
Deadline - 04/10/2021

[2021-10-03 20:21] Blankita21 commented on #231
Just to confirm, I have to make separate files for all the problems right?

[2021-10-03 20:22] SarthakKeshari commented on #232
@PrakharRathore123,
Kindly add your solution to "" folder.
Deadline - 04/10/2021

[2021-10-03 20:25] SarthakKeshari commented on #231
@Blankita21,
Different files

[2021-10-03 20:38] #228 closed

[2021-10-03 20:43] #214 closed

[2021-10-03 20:48] SarthakKeshari commented on #218
@AyushAgrawal25,
Kindly add your solution to "Sorting" folder.
Deadline - 04/10/2021

[2021-10-03 20:54] #224 closed

[2021-10-03 21:12] Anujkumar2017 commented on #199
Hi, Kindly review and merge my PR #235.

[2021-10-03 21:13] Anujkumar2017 commented on #225
Hi, Kindly review and merge my PR #208 .

[2021-10-04 02:42] #232 closed

[2021-10-04 02:47] SwarnimaShishodia commented on #219
@LikhithaTadikonda Only @SarthakKeshari can assign to you.

[2021-10-04 02:52] #216 closed

[2021-10-04 02:54] #123 closed

[2021-10-04 03:03] ayushjindal23 commented on #219
@SarthakKeshari I have experience in cpp and sorting techniques. Can you assign this to me?

[2021-10-04 03:06] ayushjindal23 commented on #198
I know how to do this question. Can you assign it to me?

[2021-10-04 03:08] SarthakKeshari commented on #219
@ayushjindal23,
Kindly add your solution to "Sorting" folder
Deadline - 04/10/2021

[2021-10-04 03:10] SarthakKeshari commented on #198
@ayushjindal23,
Kindly add your solution to "hackerrank" folder.
Deadline - 04/10/2021

[2021-10-04 03:52] #154 closed

[2021-10-04 03:54] #189 closed

[2021-10-04 03:56] #186 closed

[2021-10-04 04:02] #217 closed

[2021-10-04 04:06] baranwal opened #242 "House Robber | LeetCode Medium Level Problem"
### Enter your question -
You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security systems connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given an integer array nums represe

[2021-10-04 04:07] baranwal commented on #242
Please assign this to me.

[2021-10-04 04:10] SarthakKeshari commented on #242
@baranwal,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 04:19] pratikj697 opened #243 "[LeetCode problem]: Trapping Rain Water"
### Enter your question -
Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/trapping-rain-water/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
leetcode, trapping rain water, dsa

[2021-10-04 04:20] pratikj697 commented on #243
Please assign me this issue for solution

[2021-10-04 04:21] SarthakKeshari commented on #243
@pratikj697,
Kindly add your solution to "leetcode" folder
Deadline - 05/10/2021

[2021-10-04 04:39] Harshit-Poddar90 opened #244 "Hotel Prices || Intermediate"
### Enter your question -
In this challenge, the task is to debug the existing code to successfully execute all provided test files.

The given code defines two classes Hotel Room and Hotel Apartment denoting respectively a standard hotel room and a hotel apartment. An instance of any of these classes has two parameters: bedrooms and bathrooms denoting respectively the number of bedrooms and the n

[2021-10-04 04:39] Harshit-Poddar90 commented on #244
pls assign it to me

[2021-10-04 04:51] SarthakKeshari commented on #244
@Harshit-Poddar90,
Kindly add your solution to "hackerrank" folder
Deadline - 05/10/2021

[2021-10-04 04:55] #207 closed

[2021-10-04 04:58] #219 closed

[2021-10-04 05:12] #218 closed

[2021-10-04 06:35] SarthakKeshari opened #252 "🟡🟨Call your Logo Designing - Phase 2🟨🟡"
### Discussed in https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/discussions/251

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October  4, 2021</sup>
***
# Hello team, 👋

### 🌄Opening a new way into this project to make it more user-friendly and to start this I wish to have your suggestions. #Letsthinktogether🤩

<hr>

### `There is a requirement of l

[2021-10-04 07:05] SarthakKeshari commented on #243
Plagarized PR submitted - https://scaryrival.blogspot.com/2021/06/sbt-daily-test-10-jun-tech-mcq-code.html

[2021-10-04 07:15] #199 closed

[2021-10-04 07:21] #243 closed

[2021-10-04 07:40] Anujkumar2017 commented on #225
Hi, kindly review and merge my PR #254
 Ignore the previous PR(#208)

[2021-10-04 07:46] Anujkumar2017 opened #255 "412. Fizz Buzz"
### Enter your question -
Given an integer n, return a string array answer (1-indexed) where:

answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
answer[i] == "Fizz" if i is divisible by 3.
answer[i] == "Buzz" if i is divisible by 5.
answer[i] == i if non of the above conditions are true.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems

[2021-10-04 07:47] Anujkumar2017 commented on #255
please assign me sir

[2021-10-04 07:51] ayushjindal23 commented on #198
@SarthakKeshari I have created the pull request. #256

[2021-10-04 07:51] Anujkumar2017 opened #257 "1281. Subtract the Product and Sum of Digits of an Integer"
### Enter your question -
Given an integer number n, return the difference between the product of its digits and the sum of its digits.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/subtract-the-product-and-sum-of-digits-of-an-integer/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Math

[2021-10-04 07:51] Anujkumar2017 commented on #257
please assign me sir

[2021-10-04 07:58] ayushjindal23 commented on #202
@SarthakKeshari Can I have this problem too? I would really like to work on it.

[2021-10-04 08:17] ayushjindal23 commented on #152
@SarthakKeshari Can I have this problem, I have basic idea for solving it.

[2021-10-04 08:51] Rronny01 opened #258 "[Hackkerrank]: Missing Numbers"
### Enter your question -
Given two arrays of integers, find which elements in the second array are missing from the first array.

### Enter link to the question(if question belongs to any online platform) -
https://www.hackerrank.com/challenges/missing-numbers/problem

### Tags for the question(eg - Array, Basic, Stack, etc.) -
hackerrank, challenges, missing numbers

[2021-10-04 08:51] Rronny01 commented on #258
Assign me this issue for solution.

[2021-10-04 10:03] ujju20 opened #260 "Minimum Platforms"
### Enter your question -
Given arrival and departure times of all trains that reach a railway station. Find the minimum number of platforms required for the railway station so that no train is kept waiting.
Consider that all the trains arrive on the same day and leave on the same day. Arrival and departure time can never be the same for a train but we can have arrival time of one train equal to d

[2021-10-04 10:23] #203 closed

[2021-10-04 10:27] #244 closed

[2021-10-04 10:28] SarthakKeshari commented on #258
@Rronny01,
Kindly add your solution to "Hackerrank" folder.
Deadline - 04/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-04 10:52] #202 closed

[2021-10-04 10:58] SarthakKeshari commented on #202
@ayushjindal23,
Same question should not be repeated

[2021-10-04 11:04] ayushjindal23 commented on #115
@SarthakKeshari I would love to try this problem.

[2021-10-04 11:10] ayushjindal23 commented on #260
I would love to try this problem

[2021-10-04 11:12] ujju20 commented on #260
Kindly Make your own issue and then solve them.
This issue is created by me and I am working on this.

[2021-10-04 11:45] SarthakKeshari commented on #115
@ayushjindal23,
Kindly add your solution to "Data Structure/Stack" folder
Deadline - 05/10/2021

[2021-10-04 12:23] Harshit-Poddar90 opened #263 "Magic Spells || Hard"
### Enter your question -
While playing a video game, you are battling a powerful dark wizard. He casts his spells from a distance, giving you only a few seconds to react and conjure your counterspells. For a counterspell to be effective, you must first identify what kind of spell you are dealing with.

The wizard uses scrolls to conjure his spells, and sometimes he uses some of his generic spells

[2021-10-04 12:23] Harshit-Poddar90 commented on #263
pls assign it to me

[2021-10-04 12:49] ayushjindal23 commented on #115
@SarthakKeshari I'm not able to pull a request for this issue. It's emerging directly into the code

[2021-10-04 13:31] satyam-mahajan commented on #258
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 13:31] satyam-mahajan commented on #201
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 13:32] satyam-mahajan commented on #167
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 13:33] satyam-mahajan commented on #144
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 13:34] satyam-mahajan commented on #185
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 13:34] tausiq2003 commented on #201
I have already been assigned if I am unable to submit then you will

[2021-10-04 13:36] satyam-mahajan commented on #242
Hii , I am able to fix the issue in a optimal way. Please assign to me.
Thanking you...!!!

[2021-10-04 14:18] sksukruth opened #265 "Reverse Nodes in k-Group"
### Enter your question -
Given a linked list, reverse the nodes of a linked list k at a time and return its modified list.
k is a positive integer and is less than or equal to the length of the linked list. If the number of nodes is not a multiple of k then left-out nodes, in the end, should remain as it is.
You may not alter the values in the list's nodes, only nodes themselves may be changed.

[2021-10-04 15:12] Master-Helix commented on #144
This is Closed.

[2021-10-04 15:50] SarthakKeshari commented on #265
@sksukruth,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

[2021-10-04 15:53] SarthakKeshari commented on #242
@satyam-mahajan,
Kindly refer CONTRIBUTING.md to find how you can contribute and other guidelines.

[2021-10-04 15:54] SarthakKeshari commented on #185
@satyam-mahajan,
Kindly refer CONTRIBUTING.md

[2021-10-04 15:55] SarthakKeshari commented on #167
@satyam-mahajan,
Kindly go through CONTRIBUTING.md

[2021-10-04 15:57] #231 closed

[2021-10-04 16:03] SarthakKeshari commented on #115
@ayushjindal23,
Kindly share the screenshot of the errors you are facing

[2021-10-04 16:34] #242 closed

[2021-10-04 16:36] shubhamjain2001 commented on #115
Please assign this issue to me

[2021-10-04 16:40] #233 closed

[2021-10-04 16:42] SarthakKeshari commented on #115
@shubhamjain2001,
Its great to see your interest to solve the question. But deadline ain't over yet. You may refer to CONTRIBUTING.md for getting futher details and guidelines on how to contribute to this repo.

[2021-10-04 17:05] SarthakKeshari commented on #260
@ujju20,
Kindly wait for the issue to be assigned to you before creating the PR.

[2021-10-04 17:10] #260 closed

[2021-10-04 17:14] Narotam-singh opened #268 "[Sort Colors]"
### Enter your question -
Sort Colors

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/sort-colors/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array , Two Pointers , Sorting

[2021-10-04 17:22] Abhishekgaikwadcoder opened #269 "45. Jump Game II | Leetcode"
### Enter your question -

Given an array of non-negative integers nums, you are initially positioned at the first index of the array.

Each element in the array represents your maximum jump length at that position.

Your goal is to reach the last index in the minimum number of jumps.

You can assume that you can always reach the last index.

### Enter link to the question(if question belongs to a

[2021-10-04 17:23] Abhishekgaikwadcoder commented on #269
@SarthakKeshari  Kindly assign this issue to me

[2021-10-04 17:36] SarthakKeshari commented on #269
@Abhishekgaikwadcoder,
Kindly add your solution to "leetcode" folder
Deadline - 05/10/2021

[2021-10-04 17:37] #198 closed

[2021-10-04 17:58] #152 closed

[2021-10-04 18:09] #265 closed

[2021-10-04 18:19] SarthakKeshari commented on #257
@Anujkumar2017,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-04 18:20] SarthakKeshari commented on #255
@Anujkumar2017,
Kindly add your solution to "leetcode" folder.
Deadline - 05/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-04 18:25] #225 closed

[2021-10-04 19:23] Anujkumar2017 opened #274 "35. Search Insert Position"
### Enter your question -
Your answerGiven a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/search-insert-po

[2021-10-04 19:23] Anujkumar2017 commented on #274
@SarthakKeshari
Sir, please assign me.

[2021-10-04 19:26] #257 closed

[2021-10-04 19:31] SarthakKeshari commented on #274
@Anujkumar2017,
Kindly add your solution to "leetcode" folder
Deadline - 05/10/2021

[2021-10-04 19:51] #255 closed

[2021-10-04 19:56] Anujkumar2017 opened #276 "Three Boxes | THREEBOX"
### Enter your question -
Chef has 3 boxes of sizes A, B, and C respectively. He puts the boxes in bags of size D (A≤B≤C≤D). Find the minimum number of bags Chef needs so that he can put each box in a bag. A bag can contain more than one box if the sum of sizes of boxes in the bag does not exceed the size of the bag.

### Enter link to the question(if question belongs to any online platform) -
htt

[2021-10-04 19:56] Anujkumar2017 commented on #276
@SarthakKeshari
Sir, please assign me

[2021-10-04 20:01] Anujkumar2017 commented on #200
please assign me

[2021-10-05 04:07] #269 closed

[2021-10-05 04:23] SarthakKeshari commented on #200
@Anujkumar2017,
Kindly add your solution to "codeforces" folder.
Deadline - 06/10/2021

[2021-10-05 04:27] SarthakKeshari commented on #276
@Anujkumar2017,
Kindly don't put up solutions to ongoing challenges. It against the CONTRIBUTING guidelines and CODE_OF_CONDUCT as well as against online competitions guidelines.

[2021-10-05 04:27] #276 closed

[2021-10-05 04:47] Abhishekgaikwadcoder opened #279 "692. Top K Frequent Words | Leetcode"
### Enter your question -
Given an array of strings words and an integer k, return the k most frequent strings.

Return the answer sorted by the frequency from highest to lowest. Sort the words with the same frequency by their lexicographical order.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/top-k-frequent-words/

### Tags for the qu

[2021-10-05 04:48] Abhishekgaikwadcoder commented on #279
@SarthakKeshari  Kindly assign this issue to me.

[2021-10-05 04:50] Siddhant231xyz opened #280 "Stack Using Linked list Solution"
### A brief about your proposal -
Your answer

[2021-10-05 04:57] PrashantSrivastava33 commented on #268
please assign me this question @SarthakKeshari

[2021-10-05 05:03] SarthakKeshari commented on #268
@PrashantSrivastava33,
Kindly add your solution to "leetcode" folder.
Deadline - 06/10/2021

[2021-10-05 05:06] SarthakKeshari commented on #279
@Abhishekgaikwadcoder,
Kindly add your solution to "leetcode" folder.
Deadline - 06/10/2021

Kindly note -
This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-05 05:08] SarthakKeshari commented on #280
@Siddhant231xyz,
Kindly elaborate on your proposal

[2021-10-05 06:31] #185 closed

[2021-10-05 06:47] SarthakKeshari commented on #280
@Siddhant231xyz,
Kindly check in the probable folders of repo whether this has been addressed or not. If not create "Add a question" issue and claim it.

[2021-10-05 06:48] SarthakKeshari commented on #263
@Harshit-Poddar90,
Kindly add your solution to "hackerrank" folder.
Deadline - 06/10/2021

[2021-10-05 09:47] Pranavanbu28 commented on #252
Hey @SarthakKeshari may I know the steps to contribute to this issue?

[2021-10-05 11:15] SarthakKeshari commented on #252
@Pranavanbu28,
Submission process - Attach your created logo image in the comment section below. Just follow this step for now.
Between 07/10/2021 to 08/10/2021 winner will be announced and I will then communicate the further steps.

[2021-10-05 11:27] Pranavanbu28 commented on #252
![coders arena](https://user-images.githubusercontent.com/62026802/136013883-8b72212e-624d-4411-b0ef-046e2b296398.png)
Hey @SarthakKeshari this is the logo I designed 😄 .

[2021-10-05 11:29] Pranavanbu28 commented on #252
![coders arena logo](https://user-images.githubusercontent.com/62026802/136014412-719eabd2-ec8e-4a50-b98f-1b30256a2f8b.png)
Let me know how it looks @SarthakKeshari 😄

[2021-10-05 11:34] tausiq2003 commented on #201
Can I do it using C

[2021-10-05 11:34] Pranavanbu28 commented on #252
![coders arena logo](https://user-images.githubusercontent.com/62026802/136014970-8e6cb79f-334a-4500-aab5-c6deebe40b4a.png)

Do let me know how it looks! 😄

[2021-10-05 11:35] Pranavanbu28 commented on #252
![coders arena logo](https://user-images.githubusercontent.com/62026802/136015246-6a7997e4-6752-4333-805d-e30168bca3c5.png)
Do let me know how it looks. 😄

[2021-10-05 11:45] SarthakKeshari commented on #201
Its outside the scope of this Repo

[2021-10-05 11:49] SarthakKeshari commented on #252
Keeping in a perfect format and layering to be used as logo/icon is appreciated.

[2021-10-05 11:50] SarthakKeshari commented on #252
@Pranavanbu28,
Great work. Keeping in a perfect format and layering to be used as logo/icon is appreciated. 🎉

[2021-10-05 11:58] Pranavanbu28 commented on #252
can I try another variation or only one submission is allowed?

[2021-10-05 12:57] SarthakKeshari commented on #252
For sure, just delete the above one and put up a new one.

[2021-10-05 13:19] KAUSHIK-DEKA opened #285 "[Idea Title]Reverse print a doubly linked list"
### A brief about your proposal -
Your answer
Reverse print a doubly linked list.( Interview question).

[2021-10-05 14:11] Pranavanbu28 commented on #252
![coders arena logo 2](https://user-images.githubusercontent.com/62026802/136039958-933932a6-493e-47d7-8c44-97977e1ba87b.png)
Hey @SarthakKeshari is this fine?

[2021-10-05 14:41] ujju20 commented on #201
Can I take this issue now Deadline has reached and he hasn't completed his work?

[2021-10-05 14:41] tausiq2003 commented on #201
wait a minute

[2021-10-05 14:41] tausiq2003 commented on #201
another 3 hours left

[2021-10-05 14:42] tausiq2003 commented on #201
I will do it

[2021-10-05 14:53] SarthakKeshari commented on #252
@Pranavanbu28,
3D aesthetical look makes it amazing. I wish to add website theme is 90% black, white and gray. You may alter it accordingly

[2021-10-05 15:05] Pranavanbu28 commented on #252
sure

[2021-10-05 15:08] Pranavanbu28 commented on #252
![coders arena logo](https://user-images.githubusercontent.com/62026802/136050399-fff5211d-e9b6-4e0d-9817-d1db74da709a.png)
How about this?

[2021-10-05 15:47] SarthakKeshari commented on #252
@Pranavanbu28, Perfect

[2021-10-05 16:00] tausiq2003 commented on #201
i will submit a solution which may not match  the geeksforgeeks but its done in diff way.

[2021-10-05 16:18] SarthakKeshari commented on #201
@tausiq2003,
A different approach is always appreciated. P

[2021-10-05 16:29] Meetanshi25 commented on #285
Enter your question -
Given a doubly-linked list of positive integers. The task is to print the given doubly linked list data in reverse order.

Constraints
Number of nodes [0, 5000].
-5000 <= Node.val <= 5000

Tags for the question(eg - Array, Basic, Stack, etc.) -
LinkedList, traversal, pointers

###Please assign this issue to me.

[2021-10-05 16:34] tausiq2003 commented on #201
Yeah review it and merge it.

[2021-10-05 16:56] Meetanshi25 commented on #285
@SarthakKeshari    Please assign this issue to me.

[2021-10-05 17:05] ayushjindal23 commented on #115
@SarthakKeshari I have submitted the PR #289

[2021-10-05 17:18] #115 closed

[2021-10-05 17:21] SarthakKeshari commented on #285
@Meetanshi25,
Kindly don't post in other's issue. Create a new issue.

[2021-10-05 17:21] SarthakKeshari commented on #285
@KAUSHIK-DEKA,
Kindly create "Add a question" issue for the same.

[2021-10-05 17:28] #71 closed

[2021-10-05 17:29] #200 closed

[2021-10-05 17:36] ayushjindal23 commented on #167
@SarthakKeshari Can I have this problem? The previous Assignee hasn't completed the problem and it's also past the expiration date.

[2021-10-05 17:53] LikhithaTadikonda opened #290 "Cycle Sort in cpp"
### Enter your question -
Cycle Sort

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Sorting

[2021-10-05 17:53] LikhithaTadikonda commented on #290
Kindly assign this issue to me:)

[2021-10-05 18:37] ak-create opened #292 "K-th Not Divisible by n [Codeforces problem]"
### Enter your question -
K-th Not Divisible by n

### Enter link to the question(if question belongs to any online platform) -
https://codeforces.com/contest/1352/problem/C

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary search,  Math

[2021-10-05 18:39] ak-create commented on #292
please assign me this question @SarthakKeshari

[2021-10-05 18:41] SarthakKeshari commented on #292
@ak-create,
Kindly add your solution to "codeforces" folder.
Deadline - 06/10/2021

[2021-10-05 18:43] #274 closed

[2021-10-05 18:44] SarthakKeshari commented on #290
@LikhithaTadikonda,
Kindly add your solution to "Sorting" folder
Deadline - 06/10/2021

[2021-10-05 18:50] #201 closed

[2021-10-05 19:00] Anujkumar2017 opened #293 "B. Micro-World"
### Enter your question -
You have a Petri dish with bacteria and you are preparing to dive into the harsh micro-world. But, unfortunately, you don't have any microscope nearby, so you can't watch them.

You know that you have n bacteria in the Petri dish and size of the i-th bacteria is ai. Also you know intergalactic positive integer constant K.

The i-th bacteria can swallow the j-th bacteria i

[2021-10-05 19:01] Anujkumar2017 commented on #293
@SarthakKeshari
Sir, please assign me

[2021-10-05 19:06] Anujkumar2017 opened #295 "1329. Sort the Matrix Diagonally | Leetcode"
### Enter your question -
A matrix diagonal is a diagonal line of cells starting from some cell in either the topmost row or leftmost column and going in the bottom-right direction until reaching the matrix's end. For example, the matrix diagonal starting from mat[2][0], where mat is a 6 x 3 matrix, includes cells mat[2][0], mat[3][1], and mat[4][2].

Given an m x n matrix mat of integers, sort ea

[2021-10-05 19:10] SarthakKeshari commented on #167
@ayushjindal23,
Kindly add your solution to "Data Structure/Heap" folder
Deadline - 06/10/2021

[2021-10-05 19:12] SarthakKeshari commented on #293
@Anujkumar2017,
Kindly add your solution to "codeforces" folder
Deadline - 06/10/2021

[2021-10-05 19:37] SarthakKeshari commented on #295
@Anujkumar2017,
Kindly add your solution to "leetcode" folder
Deadline - 06/10/2021

[2021-10-05 21:26] #107 closed

[2021-10-06 04:56] KAUSHIK-DEKA opened #297 "Given a doubly-linked list of positive integers. The task is to print the given doubly linked list data in reverse order."
Enter your question -
Given a doubly-linked list of positive integers. The task is to print the given doubly linked list data in reverse order.

link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/print-doubly-linked-list-in-reverse-order/

Constraints
Number of nodes [0, 5000].
-5000 <= Node.val <= 5000

Tags for the question(eg - Array, Basic, Stack,

[2021-10-06 05:39] #297 closed

[2021-10-06 05:42] KAUSHIK-DEKA opened #299 "Given a doubly-linked list of positive integers. The task is to print the given doubly linked list data in reverse order"
### Enter your question -
#Given a doubly-linked list of positive integers. The task is to print the given doubly linked list data in reverse order.

Constraints
Number of nodes [0, 5000].
-5000 <= Node.val <= 5000

### Enter link to the question(if question belongs to any online platform) -

https://www.geeksforgeeks.org/print-doubly-linked-list-in-reverse-order/

### Tags for the question(eg - A

[2021-10-06 06:12] KAUSHIK-DEKA commented on #252
![CODERS ARENA](https://user-images.githubusercontent.com/89312403/136149874-dc2397c9-c9f7-4678-84d8-fecba691956e.png)

[2021-10-06 08:19] #263 closed

[2021-10-06 11:51] redhawk2002 opened #303 "Growable array based stack"
### A brief about your proposal -
Your answer
In normal stack implementation , the biggest issue is the size so to get the freedom from size we can create a dynamic stack using array and template(for any data type).dynamic Stack is the concept of allocating more memory such that “stack full” condition does not arises easily.

[2021-10-06 12:52] PrakharRathore123 opened #304 "Longest Increasing Subsequence"
### Enter your question -
You are given an array. Find the length of longest increasing subsequence implementing dynamic programming with tabulation method.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion , dynamic programing , Array , tabulation method.

[2021-10-06 12:53] PrakharRathore123 commented on #304
@SarthakKeshari Kindly assign me this issue.

[2021-10-06 12:55] PrakharRathore123 opened #305 "Longest Common Subsequence"
### Enter your question -
You are given two strings. You need to print the longest common subsequence with tabulation method.

### Enter link to the question(if question belongs to any online platform) -
-
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion, Array ,Dynamic programming ,Tabulation method.

[2021-10-06 13:22] ayushjindal23 commented on #167
@SarthakKeshari I have made the PR #306

[2021-10-06 16:12] ak-create opened #308 "K-th Not Divisible by n"
### Enter your question -
K-th Not Divisible by n

### Enter link to the question(if question belongs to any online platform) -
https://codeforces.com/contest/1352/problem/C

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Binary search, Math

[2021-10-06 16:21] KAUSHIK-DEKA opened #309 "Huffman coding for data compression"
### Enter your question -
Huffman coding is a lossless data compression algorithm. The idea is to assign variable-length codes to input characters, lengths of the assigned codes are based on the frequencies of corresponding characters. The most frequent character gets the smallest code and the least frequent character gets the largest code. Create a program that uses min heap to get the huffman tr

[2021-10-06 17:19] Ritwik009 opened #310 "Find All Duplicates in an Array"
### Enter your question -
Given an integer array nums of length n where all the integers of nums are in the range [1, n] and each integer appears once or twice, return an array of all the integers that appears twice.

You must write an algorithm that runs in O(n) time and uses only constant extra space.

Example 1:

Input: nums = [4,3,2,7,8,2,3,1]
Output: [2,3]
Example 2:

Input: nums = [1,1,2]
Ou

[2021-10-06 18:02] SarthakKeshari commented on #310
@Ritwik009,
Kindly add your solution to "leetcode" folder.
Deadline - 07/10/2021

[2021-10-06 18:04] #197 closed

[2021-10-06 19:22] #308 closed

[2021-10-06 19:36] ak-create opened #313 "Productive Meeting"
### Enter your question -
D. Productive Meeting
An important meeting is to be held and there are exactly n people invited. At any moment, any two people can step back and talk in private. The same two people can talk several (as many as they want) times per meeting.

Each person has limited sociability. The sociability of the i-th person is a non-negative integer ai. This means that after exactly

[2021-10-06 19:37] ak-create commented on #313
@SarthakKeshari assign this to me

[2021-10-06 19:37] PrakharRathore123 commented on #304
@SarthakKeshari in which folder I have to upload it.

[2021-10-06 20:08] #310 closed

[2021-10-06 20:09] #305 closed

[2021-10-06 20:10] ayushjindal23 commented on #102
@SarthakKeshari The due date of the previous assignee has been expired. Can I work on this now?

[2021-10-06 20:13] #304 closed

[2021-10-06 21:05] PrakharRathore123 opened #318 "Sort the array using merge sort."
### Enter your question -
You are given an unsorted array. You to sort the array using divide and conquer algorithm

### Enter link to the question(if question belongs to any online platform) -
Your answer-
### Tags for the question(eg - Array, Basic, Stack, etc.) -
Merge sort, Recursion, Array

[2021-10-06 21:07] PrakharRathore123 opened #319 "Count the number of inversion in the array."
### Enter your question -
The the number of inversion such that elements a[i] and a[j] form an inversion if a[i] > a[j] and i < j using merge sort.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Merge sort, Array , Recursion

[2021-10-07 02:58] SarthakKeshari commented on #252
@Pranavanbu28,
No changes are allowed now. Kindly wait for the results. We'll release it before 12 noon.

[2021-10-07 03:00] #313 closed

[2021-10-07 03:27] #318 closed, assigned to nobody

[2021-10-07 03:28] #319 closed, assigned to nobody

[2021-10-07 03:30] SarthakKeshari commented on #299
@KAUSHIK-DEKA,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 07/10/2021

[2021-10-07 04:26] SarthakKeshari commented on #252
@Pranavanbu28, 👏
😃 I am glad to announce that your logo✔ has been selected as the website logo for this project.
Kindly create an issue with the title "🌟Website logo" and get it assigned in order to create a PR to contribute a .png file and a word file(stating the inspiration and the reason behind creating the contributed logo) to the repository.

[2021-10-07 04:27] Pranavanbu28 commented on #252
@SarthakKeshari Thanks a lot!

[2021-10-07 04:28] Pranavanbu28 opened #321 "🌟 Website logo"
This issue is regarding the website logo for Coders Arena

[2021-10-07 04:33] Pranavanbu28 commented on #321
@SarthakKeshari Please assign this to me.

[2021-10-07 04:47] Pranavanbu28 commented on #252
I created an issue please check that out.

[2021-10-07 06:31] redhawk2002 opened #322 "Dynamic stack"
###Write a program to explain the concept of dynamic stack

Your answer: In normal stack implementation , the biggest issue is the size so to get the freedom from size we can create a dynamic stack using array and template(for any data type).dynamic Stack is the concept of allocating more memory such that “stack full” condition does not arises easily.

### Enter link to the question(if question be

[2021-10-07 06:31] redhawk2002 commented on #322
Kindly assign this issue to me

[2021-10-07 06:31] #303 closed

[2021-10-07 08:24] Harshit09-lang opened #323 "CodeForces Problem 263A"
### Enter your question -
Beautiful Matrix

### Enter link to the question(if question belongs to any online platform) -
https://codeforces.com/problemset/problem/263/A

### Tags for the question(eg - Array, Basic, Stack, etc.) -
implementation , *800

[2021-10-07 08:47] SarthakKeshari commented on #323
@Harshit09-lang,
Kindly add your solution to "codeforces" folder.
Deadline - 07/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice for futher Issues -
Medium and hard level questions will be given preference for Hacktoberfest tag.

[2021-10-07 09:03] SarthakKeshari opened #324 "Letter A"
### Enter your question -
Write a program to print letter A exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136321605-a4872c69-0abb-4f14-8194-cbdc76444cce.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:05] SarthakKeshari opened #325 "Letter B"
### Enter your question -
Write a program to print letter B exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354294-74e6f9e4-41c5-4233-b1cd-82753deb1c99.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:06] SarthakKeshari opened #326 "Letter C"
### Enter your question -
Write a program to print letter C exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354454-ea50a749-83ca-46e7-858f-fe485c31b31d.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:08] SarthakKeshari opened #327 "Letter E"
### Enter your question -
Write a program to print letter E exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354698-3f0f2c67-d04e-48dd-9c0a-e6e3254863a6.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:09] SarthakKeshari opened #328 "Letter F"
### Enter your question -
Write a program to print letter F exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136354949-32b109ba-dc93-4977-ac3d-8325094a9dd9.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:10] SarthakKeshari opened #329 "Letter H"
### Enter your question -
Write a program to print letter H exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355084-2103b129-9cad-427a-b983-333b0d8b3575.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:11] SarthakKeshari opened #330 "Letter I"
### Enter your question -
Write a program to print letter I exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355269-c009bd1a-f4c0-434f-96c9-610b844198a1.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:11] Pranavanbu28 commented on #321
shall I add a md file instead of a text file so that I can attach the image?

[2021-10-07 09:12] SarthakKeshari opened #331 "Letter J"
### Enter your question -
Write a program to print letter J exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355404-962fd793-27b7-4565-992b-ecf48cf4d5b9.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:15] SarthakKeshari opened #332 "Letter K"
### Enter your question -
Write a program to print letter K exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136355893-5489ccc7-0de6-47b6-a1ff-7612442c6bd6.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:16] SarthakKeshari opened #333 "Letter L"
### Enter your question -
Write a program to print letter L exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356007-69cc2730-41d5-4a51-92fd-fcbfb35e6cf5.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:17] SarthakKeshari opened #334 "Letter M"
### Enter your question -
Write a program to print letter M exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356275-bf730c38-bb3c-447d-9382-072caa97da25.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:19] SarthakKeshari opened #335 "Letter N"
### Enter your question -
Write a program to print letter N exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356488-5ba26ef5-d49b-453b-ba8b-39ecf83e4d9a.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:21] SarthakKeshari opened #336 "Letter R"
### Enter your question -
Write a program to print letter R exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136356668-87257839-e607-4f40-ac8c-9ebf0461900c.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:22] SarthakKeshari opened #337 "Letter T"
### Enter your question -
Write a program to print letter T exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357026-ef9cf191-8b80-4b62-8acf-2c4a1d196c03.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:24] SarthakKeshari opened #338 "Letter V"
### Enter your question -
Write a program to print letter V exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357364-84d1aad9-8395-4d70-8352-cfb5d379529b.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:25] SarthakKeshari opened #339 "Letter W"
### Enter your question -
Write a program to print letter W exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357589-916fa5f4-c14d-4a6a-bb21-01e7b05a3343.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:26] SarthakKeshari opened #340 "Letter X"
### Enter your question -
Write a program to print letter X exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357743-23224fba-8082-4b5e-a5fe-a2cf7feaf909.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:27] SarthakKeshari opened #341 "Letter Y"
### Enter your question -
Write a program to print letter Y exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136357925-e2a64931-c4e6-454c-a92c-6a54f28910d3.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 09:27] SarthakKeshari opened #342 "Letter Z"
### Enter your question -
Write a program to print letter Z exactly as shown below -

![image](https://user-images.githubusercontent.com/55992140/136358018-1b0c2422-2efe-4871-afd0-347c1d72c2f0.png)

### Enter link to the question(if question belongs to any online platform) -
No link

### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops, pattern printing

[2021-10-07 11:26] Master-Helix opened #346 "Next Greater Element (using Stack)"
### Enter your question -
Given an array arr[ ] of size N having distinct elements, the task is to find the next greater element for each element of the array in order of their appearance in the array.
Next greater element of an element in the array is the nearest element on the right which is greater than the current element.
If there does not exist next greater of current element, then next grea

[2021-10-07 11:41] SarthakKeshari commented on #346
@Master-Helix,
Kindly add your solution to "GeeksForGeeks" folder.
Deadline - 08/10/2021

[2021-10-07 11:44] ilimugur commented on #324
Kindly assign this issue to me.

[2021-10-07 11:44] ilimugur commented on #326
Kindly assign this issue to me.

[2021-10-07 11:54] #325 closed, assigned to ilimugur

[2021-10-07 12:43] Karan0009 commented on #212
hello,kindly assign me this issue if it's still open

[2021-10-07 14:24] #327 closed, assigned to Blankita21

[2021-10-07 15:28] SarthakKeshari commented on #323
@Parul1923,
Deadline ain't over yet

[2021-10-07 15:45] #328 closed, assigned to Blankita21

[2021-10-07 15:56] #330 closed

[2021-10-07 16:02] #346 closed

[2021-10-07 16:02] satkar2001 opened #357 "alice vs bob faceoff"
### Enter your question -
Alice and Bob have got an integer N. They decide to play a game. Alice and Bob make alternating moves: Alice makes the first move, Bob makes the second move,
Alice makes the third one, and so on. The game continues until N becomes 0. The player who is unable to make a move loses.
During each turn a player can make one of the following moves:
Choose an integer X such that

[2021-10-07 16:17] shreygupta2101 opened #359 "Polynomial root"
### Enter your question -
Let's define a function P(x,y)=(x−y)2. For given real numbers a and b, let's define a polynomial Q a,b(x)=P(P(P(x,a),a−b),x−b).

Next, let's define a function F(a,b):

--> If Q a,b(x) has no real roots, F(a,b)=0.
--> Otherwise, let r be the largest real root of Q a,b(x).
--> If r is rational, it can be represented by a fraction r=p/q, where p and q are co-prime integers a

[2021-10-07 16:24] #326 closed, assigned to ilimugur

[2021-10-07 16:27] absolute-looser commented on #329
can I do this

[2021-10-07 16:28] SarthakKeshari commented on #329
@absolute-looser,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 08/10/2021

[2021-10-07 17:14] #329 closed

[2021-10-07 18:39] #357 closed

[2021-10-07 18:54] paliwalharsh opened #365 "Curious Matrix"
### Enter your question -
**You are given a prime p and a matrix M with N rows (numbered 1 through N) and N columns (numbered 1 through N). For each row r and column c, the cell in row r and column c can either be empty or contain an integer Mr,c. Initially, all cells are empty.**

Now you should process Q queries. In each query, you are given integers x, y, and v and you should do the following:

[2021-10-07 20:56] #342 closed

[2021-10-07 20:58] #324 closed

[2021-10-08 02:50] ThejaswinS opened #369 "Smallest String With A Given Numeric Value"
### Enter your question -
The numeric value of a lowercase character is defined as its position (1-indexed) in the alphabet, so the numeric value of a is 1, the numeric value of b is 2, the numeric value of c is 3, and so on.

The numeric value of a string consisting of lowercase characters is defined as the sum of its characters' numeric values. For example, the numeric value of the string "abe"

[2021-10-08 03:16] SarthakKeshari commented on #191
@Parul1923,
Kindly add your solution to "Sorting" folder.
Deadline - 09/10/2021

[2021-10-08 03:23] SarthakKeshari commented on #369
@ThejaswinS,
Kindly add your solution to "leetcode" folder
Deadline - 09/10/2021

[2021-10-08 04:38] Parul1923 commented on #191
Sir What should be the time complexity to solve this question?

[2021-10-08 04:56] Harshit09-lang commented on #323
Can you please extend the deadline by one day? Actually, there is unavoidable work that has been popped up. I will get this done by tomorrow midnight.

[2021-10-08 05:55] SarthakKeshari commented on #323
@Harshit09-lang,
Sure and thankyou for informing good to see such responsible behaviour.

New Deadline(final) - 09/10/2021

[2021-10-08 06:22] #369 closed

[2021-10-08 11:58] Parul1923 commented on #191
@SarthakKeshari
Kindly review my code and please accept my pull request.

[2021-10-08 14:09] KAUSHIK-DEKA opened #374 "Reverse a linked list in Cpp using recursion"
### Enter your question -
Reverse a linked list using recursion in c

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/recursively-reversing-a-linked-list-a-simple-implementation/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Your answer
Linked list. Data Structure.

[2021-10-08 14:23] PrakharRathore123 opened #375 "Number of operations to convert str1 to str2."
### Enter your question -
Given two strings str1 and str2 and perform add, remove, replace operations that can performed on str1. Find minimum number of operations required to convert ‘str1’ into ‘str2’ with tabulation method.

### Enter link to the question(if question belongs to any online platform) -
-

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Recursion, string , optimization

[2021-10-08 14:23] PrakharRathore123 commented on #375
@SarthakKeshari Kindly issue me this problem.

[2021-10-08 14:26] PrakharRathore123 opened #376 "Minimum cost to reach the destination."
### Enter your question -
Given a cost matrix cost[][] and a position (m, n) in cost[][], write a function that returns cost of minimum cost path to reach (m, n) from (0, 0). Each cell of the matrix represents a cost to traverse through that cell. The total cost of a path to reach (m, n) is the sum of all the costs on that path.
### Enter link to the question(if question belongs to any online plat

[2021-10-08 14:26] PrakharRathore123 commented on #376
@SarthakKeshari Kindly assign me this issue.

[2021-10-08 15:05] SarthakKeshari commented on #375
@PrakharRathore123,
Kindly add your solution to "Dynamic Programming" folder.
Deadline - 09/10/2021

[2021-10-08 15:12] SarthakKeshari commented on #374
@KAUSHIK-DEKA,
Since its a C++ repo. C solutions won't get accepted.

[2021-10-08 17:59] PrakharRathore123 opened #381 "Maximum length of Bitonic Sequence"
### Enter your question -
Given an array A containing n positive integers, a subarray A[i … j] is bitonic if there is a k with i <= k <= j such that A[i] <= A[i + 1] … = A[k + 1] >= .. A[j – 1] > = A[j].  Calculate the length of the maximum length bitonic subarray. A sequence, sorted in increasing order is considered Bitonic with the decreasing part as empty. Similarly, decreasing order sequence i

[2021-10-08 18:00] PrakharRathore123 commented on #381
@SarthakKeshari Kindly issue me this problem

[2021-10-08 18:02] PrakharRathore123 opened #382 "Egg dropping Problem"
### Enter your question -
Given a certain amount of floors  and also given certain amount of eggs .What is the least amount of egg drops one has to perform to find out the threshold floor. Threshold floor is one from which the egg starts breaking and also egg breaks for all the floors above. Also, if egg dropped from any floor below the threshold floor, it won’t break.
Test Cases:
An egg that surv

[2021-10-08 19:14] SarthakKeshari commented on #381
@PrakharRathore123,
Kindly provide a test case and explaination

[2021-10-08 19:15] SarthakKeshari commented on #374
@KAUSHIK-DEKA,
Kindly let me know if there are any queries or shall I close this issue?

[2021-10-08 19:17] PrakharRathore123 commented on #382
@SarthakKeshari Kindly check

[2021-10-08 21:18] SarthakKeshari commented on #381
@PrakharRathore123,
Kindly add your solution to "Dynamic Programming" folder.
Deadline - 09/10/2021

[2021-10-08 21:43] PrakharRathore123 opened #386 "0-1 Knapsack Problem"
### Enter your question -
Given weights and values of n items, put these items in a knapsack of capacity W to get the maximum total value in the knapsack. In other words, given two integer arrays val and wt which represent values and weights associated with n items respectively. Also given an integer W which represents knapsack capacity, find out the maximum value subset of val such that sum of th

[2021-10-08 21:44] PrakharRathore123 opened #387 "Longest Palindromic Subsequence"
### Enter your question -
Given a sequence, find the length of the longest palindromic subsequence in it.

### Test Cases-
Test 1 ) For the input of string="PRAKHAR"
Longest Palindromic Subsequence possible is "RAHAR"
so max length is 5

Test 2 ) For the input of string="SARTHAK"
Longest Palindromic Subsequence possible is "AHA"
so max length is 3

### Enter link to the question(if question belong

[2021-10-08 21:45] PrakharRathore123 commented on #387
@SarthakKeshari Kindly issue me this problem

[2021-10-09 04:39] SarthakKeshari commented on #387
@PrakharRathore123,
Kindly add your solution to "Dynamic Programming" folder.
Deadline - 10/10/2021

[2021-10-09 05:36] KAUSHIK-DEKA commented on #374
I have change the code to cpp.  I have created the pull request. You can have a look.

[2021-10-09 06:01] prajjwaljoshi opened #390 "reverse a 1d array or stringin cpp"
### Enter your question -
reverse a 1d array or string in cpp

### Enter link to the question(if question belongs to any online platform) -
https://www.geeksforgeeks.org/write-a-program-to-reverse-an-array-or-string/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-09 06:45] SarthakKeshari commented on #374
@KAUSHIK-DEKA,
Kindly wait for the issue to assigned before creating the PR as per the repo guidelines

[2021-10-09 06:46] #374 closed, assigned to KAUSHIK-DEKA

[2021-10-09 06:57] SarthakKeshari commented on #337
@MarcelScherer
1) By "claim the issue" I meant just type - "Kindly assign me this issue" below in the comments if you want to solve a problem.
2) If you want to come up with your own question then create a new issue, and "claim it"

I hope this is clear now?

Thankyou

If you face any issue reach out to me in comments. I will surely help you.

May I know your best language? Maybe I can help you ou

[2021-10-09 06:58] diwakarsingh18277 opened #391 "Gray Code"
### Enter your question -
An n-bit gray code sequence is a sequence of 2n integers where:

Every integer is in the inclusive range [0, 2n - 1],
The first integer is 0,
An integer appears no more than once in the sequence,
The binary representation of every pair of adjacent integers differs by exactly one bit, and
The binary representation of the first and last integers differs by exactly one bit.

[2021-10-09 06:58] diwakarsingh18277 commented on #391
Kindly assign this issue to me.

[2021-10-09 09:08] SarthakKeshari commented on #340
@cyberskull99297,
Go ahead, Kindly add your solution to "Pattern Printing" folder.
Deadline - 10/10/2021

[2021-10-09 09:50] SarthakKeshari opened #392 "C++ Introduction Document (First 2 contributors will be assigned)"
### Enter your question -
Write a vivid, clear and easy to understand **(by easy to understand it means that the explaination should be understandable even for complete beginners)** article/description on the topic Introduction to C++. This document will be a part of CodersArena Website C++ Documentation introduction page.

Submissions of assigned contributors will be accepted in .doc/.docx file.

[2021-10-09 09:53] SarthakKeshari commented on #382
@PrakharRathore123,
Kindly enter 2 test cases with proper output explaination

[2021-10-09 09:54] anushka-srivastava22 commented on #392
Kindly assign this issue to me under Hacktober.

[2021-10-09 10:22] cyberskull99297 commented on #340
Being a beginner, I do not have much knowledge of open source. Kindly review, if my contribution was correct or there is something  I need to improve.
Thanks

[2021-10-09 10:40] PrakharRathore123 commented on #386
@SarthakKeshari Kindly issue me this problem

[2021-10-09 13:20] #391 closed

[2021-10-09 13:21] SarthakKeshari commented on #338
@saurabh042,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 10/10/2021

[2021-10-09 13:25] #381 closed, assigned to PrakharRathore123

[2021-10-09 13:27] #382 closed

[2021-10-09 13:41] SarthakKeshari commented on #340
@cyberskull99297,
It seems you have merged it into your own repository.
Give me time till 2:30 AM today.
I will add the detailed steps to make a successfull pull request.

Will that be fine?

[2021-10-09 13:43] SarthakKeshari commented on #386
@PrakharRathore123,
Kindly add your solution to "Dynamic Programming" folder.
Deadline - 10/10/2021

[2021-10-09 13:52] saurabh042 commented on #338
HI @SarthakKeshari
Could you please review the pull request.

Thanks

[2021-10-09 13:56] cyberskull99297 commented on #340
@SarthakKeshari  Yes!, Thank You. That will be very helping to me.

[2021-10-09 15:14] SarthakKeshari commented on #387
@PrakharRathore123,
Perfect

[2021-10-09 15:18] mdArshad10 opened #397 "odd or event by bit manipulation"
### Enter your question -
find the number is odd or even by bits Mainpulation

### Enter link to the question(if question belongs to any online platform) -
Your answer

### Tags for the question(eg - Array, Basic, Stack, etc.) -
bits Mainpulation

[2021-10-09 15:18] mdArshad10 commented on #397
please assign me

[2021-10-09 15:26] mdArshad10 commented on #335
please assign it to me

[2021-10-09 18:16] PrakharRathore123 opened #399 "Cutting a Rod"
### Enter your question -
Given a rod of length n inches and an array of prices that includes prices of all pieces of size smaller than n. Determine the maximum value obtainable by cutting up the rod and selling the pieces.

##Test case-
 example- if the length of the rod is 8 and the values of different pieces {1   5   8   9  10  17  17  20}  then the maximum obtainable value is 22.
by cutting in

[2021-10-09 23:14] SarthakKeshari commented on #333
@Ritwik009,
Kindly add your solution to "Pattern Printing" folder
Deadline - 10/10/2021

[2021-10-10 01:43] PrakharRathore123 opened #401 "Maximum Sum Increasing Subsequence"
### Enter your question -
Given an array of n positive integers. Write a program to find the sum of maximum sum subsequence of the given array such that the integers in the subsequence are sorted in increasing order.

##Test cases-
Test case 1)  For input {1, 102, 3, 4, 100, 5, 2}  output should be 102+2+3=107 Max longest subsequence is 3,
Test case 1)  For input  {3, 4, 5, 10}   output should be

[2021-10-10 01:43] PrakharRathore123 commented on #401
@SarthakKeshari Kindly issue me this problem.

[2021-10-10 03:01] rohitkumar9710 opened #402 "Hacking Cypher"
### Enter your question -
Polycarpus participates in a competition for hacking into a new secure messenger. He's almost won.
Having carefully studied the interaction protocol, Polycarpus came to the conclusion that the secret key can be obtained if he properly cuts the public key of the application into two parts. The public key is a long integer which may consist of even a million digits!
Polycar

[2021-10-10 05:14] #341 closed

[2021-10-10 05:43] Parul1923 commented on #309
Hi
Can you please assign this issue to me?

[2021-10-10 06:34] sharmakarish opened #404 "codechef - longest AND subarray question"
### Enter your question -
Your answer

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/OCT21C/problems/ANDSUBAR
### Tags for the question(eg - Array, Basic, Stack, etc.) -
loops

Hi ,this is my first time opening and issue ,
 I am currently practicing competitive programming and just found a question which will definitely add value to this repo

[2021-10-10 07:54] 17rashi opened #405 "Greedy Algorithms"

[2021-10-10 07:56] 17rashi commented on #405
@SarthakKeshari Sir, can I put questions along with the solution on this topic?

[2021-10-10 09:11] #212 closed

[2021-10-10 09:13] #386 closed

[2021-10-10 09:35] PrakharRathore123 commented on #399
@SarthakKeshari Kindly assign me this issue

[2021-10-10 10:21] 17rashi commented on #405
Thank you Sir, I have completed the work, please check and let me know if any kind of change is required.

[2021-10-10 11:11] SarthakKeshari commented on #401
@PrakharRathore123,
Kindly mention the link to the online platform this question is from

[2021-10-10 11:29] SarthakKeshari commented on #405
@17rashi,
I will accept it, but for further issues, kindly fill the proper "add a question" template

[2021-10-10 12:15] PrakharRathore123 commented on #401
@SarthakKeshari Kindly check

[2021-10-10 13:10] AditiRai17 commented on #336
Kindly assign me this Program .

[2021-10-10 13:11] suranaakshat02 opened #409 "Add a Butterfly Pattern in C++"
### Enter your question -
Take A input From User and Print Butterfly Pattern.

### Enter link to the question(if question belongs to any online platform) -
Logic Building Question

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic For Loop

[2021-10-10 13:34] AditiRai17 commented on #339
Kindly assign me this question .

[2021-10-10 14:15] 17rashi commented on #405
Okay Sir, Thanks a lot. I am a beginner to open source. Really Thankful for your cooperation and guidance.

[2021-10-10 17:16] Harshit-Poddar90 opened #411 "For Loop"
### Enter your question -
A for loop is a programming language statement which allows code to be repeatedly executed.

The syntax is

for ( <expression_1> ; <expression_2> ; <expression_3> )
    <statement>
expression_1 is used for initializing variables which are generally used for controlling the terminating flag for the loop.
expression_2 is used to check for the terminating condition. If this

[2021-10-10 20:12] AditiRai17 commented on #331
Kindly assign me this issue.

[2021-10-10 20:26] AditiRai17 commented on #331
![Screenshot (753)](https://user-images.githubusercontent.com/91966396/136712014-6c663a2f-f86a-49ab-942d-36dfef099566.png)
![Screenshot (752)](https://user-images.githubusercontent.com/91966396/136712028-5ee8f491-997a-449f-b8ba-e4b0910c5e48.png)

[2021-10-11 04:47] SarthakKeshari commented on #411
@Harshit-Poddar90,
Kindly add your solution to "Hackerrank" folder.
Deadline - 12/10/2021

[2021-10-11 04:53] SarthakKeshari commented on #409
@suranaakshat02,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 12/10/2021

[2021-10-11 05:14] SarthakKeshari commented on #336
@khushibansal26,
Kindly add your solution to "Pattern Printing" folder
Deadline - 12/10/2021

[2021-10-11 05:20] SarthakKeshari commented on #340
@cyberskull99297,
Its showing some conflicts.

Close all the PRs(pull requests) and remove the folder on you local system and Delete the copy of this repository from your GitHub then,

Follow these steps -

Kindly go through the below steps to make your first successful contribution -
Steps to contribute -
1) Sign into your GitHub account, or create a GitHub account
2) Fork the project repository

[2021-10-11 05:22] #402 closed

[2021-10-11 05:24] SarthakKeshari commented on #334
@saurabh042,
Yes, for sure you can take this up.
Kindly add your solution to "Pattern Printing" folder.
Deadline - 12/10/2021

[2021-10-11 05:29] SarthakKeshari commented on #335
@mdArshad10,
Kindly add your solution to "Pattern Printing" folder.
Deadline - 12/10/2021

[2021-10-11 06:03] anshuman725 opened #413 "Odd after even LinkedList"
### Enter your question -
For a given singly linked list of integers, arrange the elements such that all the even numbers are placed after the odd numbers. The relative order of the odd and even terms should remain unchanged.

### Test Cases-
Sample Input 1 :
1
1 4 5 2 -1

Sample Output 1 :
1 5 4 2

Sample Input 2 :
2
1 11 3 6 8 0 9 -1
10 20 30 40 -1

Sample Output 2 :
1 11 3 9 6 8 0
10 20 30 40

[2021-10-11 08:09] prajjwaljoshi opened #415 "@prajjwaljoshi,"
i have now added the question to code in 1st line as the comment

[2021-10-11 12:21] Parul1923 commented on #309
Sir Kindly review my code and please accept my pull request.

[2021-10-11 13:24] SarthakKeshari opened #419 "😃🎉Call for Web Developers - Website Release🎈🥳"
### Discussed in https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/discussions/418

<div type='discussions-op-text'>

<sup>Originally posted by **SarthakKeshari** October 11, 2021</sup>
## Hello team, 👋
### From today we'll start our journey on one of the other tracks of this project, which is website creation

#### Now coding and website building will go hand-in-hand

Website will be

[2021-10-11 14:07] anshuman725 commented on #413
@SarthakKeshari  it's from the course of Coding Ninja's, But we can find this question on GeeksForGeeks as Well.

[2021-10-11 15:48] diwakar1998 commented on #409
i solved this issue in which repo should i add my code to?

[2021-10-11 20:39] #387 closed

[2021-10-11 20:47] SarthakKeshari commented on #332
@rohitkumar9710,
Go ahead, Kindly add you solution to "Pattern Printing" folder.
Deadline - 12/10/2021

[2021-10-11 20:52] #334 closed, assigned to saurabh042

[2021-10-11 21:14] #340 closed

[2021-10-12 03:30] anshuman725 commented on #413
@SarthakKeshari Done!

[2021-10-12 05:15] #332 closed, assigned to rohitkumar9710

[2021-10-12 05:15] diwakar1998 commented on #413
can multiple people solve same issue?

[2021-10-12 05:40] SarthakKeshari commented on #183
@diwakar1998,
Sure go ahead, If you'll successfully integrate UI to it, I will upgrade question from **Level X to Level Z**. If all the test cases I have, passes successfully. But the prompt for user I have given in document structure should also be followed.
Kindly create a folder "Coding Application(Games and more)" and add your solution in it
Deadline - 16/10/2021

[2021-10-12 05:47] #339 closed, assigned to AditiRai17

[2021-10-12 05:55] diwakar1998 commented on #409
Kindly assign this issue to me.

[2021-10-12 06:00] SarthakKeshari commented on #409
### @diwakar1998,
### Kindly don't go against the CODE OF CONDUCT, I have already warned in the above comments. Once more if this kind of reponse occurs you'll be banned

[2021-10-12 06:26] diwakar1998 commented on #409
ok

[2021-10-12 06:26] rohitkumar9710 opened #425 "Position in Fraction"
### Enter your question -
You have a fraction a/b . You need to find the first occurrence of digit c into decimal notation of the fraction after decimal point. Digits in decimal part are 1 - indexed.

Test case 1:
Input: 4 7 2
Output: 5
Explanation:  Since, 4/7 = 0.5714285. . . . . . the digit 2 appeared at index 5 in the decimal part.

### Enter link to the question(if question belongs to any onl

[2021-10-12 06:41] SarthakKeshari opened #426 "Datatypes - int"
### Enter topic you want to work upon(eg- String, Loop) -
Datatypes

### Enter sub-topic you want to work upon(eg- for loop, pow())
int

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refer

[2021-10-12 06:57] SarthakKeshari opened #427 "Datatypes - double"
### Enter topic you want to work upon(eg- String, Loop) -
Datatypes

### Enter sub-topic you want to work upon(eg- for loop, pow())
double

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for re

[2021-10-12 07:02] SarthakKeshari opened #428 "Datatypes - char"
### Enter topic you want to work upon(eg- String, Loop) -
Datatypes

### Enter sub-topic you want to work upon(eg- for loop, pow())
char

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refe

[2021-10-12 07:03] SarthakKeshari opened #429 "Strings -> length"
### Enter topic you want to work upon(eg- String, Loop) -
Strings

### Enter sub-topic you want to work upon(eg- for loop, pow())
length

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refe

[2021-10-12 07:15] SarthakKeshari opened #430 "Installing IDE - Steps to install Visual Studio Code for C++"
### Enter topic you want to work upon(eg- String, Loop) -
Installing IDE

### Enter sub-topic you want to work upon(eg- for loop, pow())
Steps to install Visual Studio Code for C++

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you clai

[2021-10-12 07:19] SarthakKeshari opened #431 "Installing IDE - Steps to install Eclipse for C++"
### Enter topic you want to work upon(eg- String, Loop) -
Installing IDE

### Enter sub-topic you want to work upon(eg- for loop, pow())
Steps to install Eclipse for C++

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue

[2021-10-12 07:20] SarthakKeshari opened #432 "Installing IDE - Steps to install Code::Blocks for C++"
### Enter topic you want to work upon(eg- String, Loop) -
Installing IDE

### Enter sub-topic you want to work upon(eg- for loop, pow())
Steps to install Code::Blocks for C++

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the

[2021-10-12 07:21] SarthakKeshari opened #433 "Installing IDE - Steps to install Turbo C++"
### Enter topic you want to work upon(eg- String, Loop) -
Installing IDE

### Enter sub-topic you want to work upon(eg- for loop, pow())
Steps to install Turbo C++

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<

[2021-10-12 07:23] SarthakKeshari opened #434 "Installing IDE - Steps to install Dev C++"
### Enter topic you want to work upon(eg- String, Loop) -
Installing IDE

### Enter sub-topic you want to work upon(eg- for loop, pow())
Steps to install Dev C++

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br

[2021-10-12 07:36] aaditya9899 commented on #434
hey please assign it to me

[2021-10-12 07:41] aaditya9899 commented on #427
hey i can work on this if you assign it to me?

[2021-10-12 07:45] SarthakKeshari commented on #429
@aaditya9899,
Only 2 issues can be assigned to one contributor at a time

[2021-10-12 07:46] aaditya9899 commented on #430
Document type that you will submit - .txt
Aaditya

[2021-10-12 08:12] rohitkumar9710 commented on #425
@PrashantSrivastava33 this issue was not created by the owner. @SarthakKeshari assign this to me in C++.

[2021-10-12 08:17] SarthakKeshari commented on #425
@rohitkumar9710,
As per the contribution guidlines issues can be claimed by anyone and can be created by anyone. Kindly go through CONTRIBUTING.md

[2021-10-12 08:22] #331 closed, assigned to AditiRai17

[2021-10-12 08:54] rohitkumar9710 opened #436 "Non-zero Segments"
### Enter your question -
Kolya got an integer array a1,a2,…,an. The array can contain both positive and negative integers, but Kolya doesn't like 0, so the array doesn't contain any zeros.

Kolya doesn't like that the sum of some subsegments of his array can be 0. The subsegment is some consecutive segment of elements of the array.

You have to help Kolya and change his array in such a way that i

[2021-10-12 11:28] #413 closed, assigned to anshuman725

[2021-10-12 13:49] rajraii opened #437 "Subarray with given sum"
### Enter your question -
Given an array of positive and negative numbers. Find if there is a subarray (of size at-least one) with 0 sum.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/subarray-with-0-sum-1587115621/1

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-12 16:35] #182 closed

[2021-10-12 16:41] PrakharRathore123 commented on #401
@SarthakKeshari Kindly issue me this problem.

[2021-10-12 17:06] #405 closed, assigned to 17rashi

[2021-10-12 18:40] SarthakKeshari opened #441 "Math - sin(), cos(), tan()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
sin(), cos(), tan()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Template

[2021-10-12 18:40] SarthakKeshari opened #442 "Math - cos()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
cos()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referenc

[2021-10-12 18:41] SarthakKeshari opened #443 "Math - tan()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
tan()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referenc

[2021-10-12 18:42] SarthakKeshari opened #444 "Math - acos()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
acos()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referen

[2021-10-12 18:43] SarthakKeshari opened #445 "Math - asin(), acos(), atan(), atan2()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
asin(), acos(), atan(), atan2()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><b

[2021-10-12 18:43] SarthakKeshari opened #446 "Math - atan()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
atan()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referen

[2021-10-12 18:44] SarthakKeshari opened #447 "Math - atan2()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
atan2()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refere

[2021-10-12 18:44] SarthakKeshari opened #448 "Math - cosh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
cosh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referen

[2021-10-12 18:45] SarthakKeshari opened #449 "Math - sinh(), cosh(), tanh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
sinh(), cosh(), tanh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templ

[2021-10-12 18:45] SarthakKeshari opened #450 "Math - tanh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
tanh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for referen

[2021-10-12 18:46] SarthakKeshari opened #451 "Math - acosh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
acosh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refere

[2021-10-12 18:47] SarthakKeshari opened #452 "Math - asinh(), acosh(), atanh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
asinh(), acosh(), atanh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Te

[2021-10-12 18:48] SarthakKeshari opened #453 "Math - atanh()"
### Enter topic you want to work upon(eg- String, Loop) -
Math

### Enter sub-topic you want to work upon(eg- for loop, pow())
atanh()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for refere

[2021-10-13 00:28] PrakharRathore123 opened #456 "Next Permutation"
### Enter your question -
Implement next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/next-permutation/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-13 00:31] PrakharRathore123 opened #457 "matrix in spiral form"
### Enter your question -
Given a 2D array, print it in spiral form

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/spirally-traversing-a-matrix-1587115621/1

### Tags for the question(eg - Array, Basic, Stack, etc.) -
2d Array

[2021-10-13 00:38] FriskySaga commented on #431
Hey there, mind if I take on this task?

[2021-10-13 04:52] #399 closed

[2021-10-13 05:23] Himanshi1207 commented on #437
can you assign this to me?

[2021-10-13 05:26] #442 closed

[2021-10-13 05:26] #443 closed

[2021-10-13 05:27] #444 closed, assigned to nobody

[2021-10-13 05:27] #446 closed

[2021-10-13 05:27] #447 closed, assigned to nobody

[2021-10-13 05:29] #448 closed

[2021-10-13 05:29] #450 closed, assigned to nobody

[2021-10-13 05:30] #451 closed

[2021-10-13 05:30] #453 closed, assigned to nobody

[2021-10-13 05:42] SarthakKeshari opened #460 "String - getline()"
### Enter topic you want to work upon(eg- String, Loop) -
String

### Enter sub-topic you want to work upon(eg- for loop, pow())
getline()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Templates for re

[2021-10-13 05:44] SarthakKeshari opened #461 "String - push_back(), pop_back()"
### Enter topic you want to work upon(eg- String, Loop) -
String

### Enter sub-topic you want to work upon(eg- for loop, pow())
push_back(), pop_back()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Te

[2021-10-13 06:56] #411 closed, assigned to Harshit-Poddar90

[2021-10-13 07:08] YashGosaliya opened #462 "Chef Wars - Return of the Jedi"
### Enter your question -

On the ice planet Hoth, Chef has run into his arch-nemesis, DarthForces. Darth has a peculiar fighting style ― he does not attack, but simply defends and lets his opponent tire himself out.

Chef has a lightsaber which has an attack power denoted by P. He keeps hitting Darth with the lightsaber. Every time he hits, Darth's health decreases by the current attack power of

[2021-10-13 07:19] SarthakKeshari opened #463 "String - capacity(), resize(), shrink_to_fit()"
### Enter topic you want to work upon(eg- String, Loop) -
String

### Enter sub-topic you want to work upon(eg- for loop, pow())
capacity(), resize(), shrink_to_fit()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

[2021-10-13 07:28] rajraii commented on #437
@SarthakKeshari hey man, if I raised the issue first shouldn't you assign this to me?
Isnt it partiality?

[2021-10-13 07:40] SarthakKeshari opened #465 "stdlib - atof(), atol(), strtol()"
### Enter topic you want to work upon(eg- String, Loop) -
stdlib

### Enter sub-topic you want to work upon(eg- for loop, pow())
atof(), atol(), strtol()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

T

[2021-10-13 07:42] SarthakKeshari opened #466 "stdlib - strtoll(), strtoull()"
### Enter topic you want to work upon(eg- String, Loop) -
stdlib

### Enter sub-topic you want to work upon(eg- for loop, pow())
strtoll(), strtoull()

### Document type that you will submit (**Choices available** -> .txt or .html) -
### ***Answer this question when you claim the issue***

### Enter your name(Article author) -
### ***Answer this question when you claim the issue***

<br><br>

Temp

[2021-10-13 08:24] mack611 commented on #441
@SarthakKeshari kindly assign me this isssue
Mayank Dash-(.txt)

[2021-10-13 08:52] Shubhamsri12 opened #467 "Diagonal Difference"
### Enter your question -
Given a square matrix, find the difference of the sum of primary and secondary diagonal elements.

### Enter link to the question(if question belongs to any online platform) -
https://www.hackerrank.com/challenges/diagonal-difference/problem

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array

[2021-10-13 08:53] Shubhamsri2000 commented on #467
Kindly assign this issue to me.

[2021-10-13 09:29] SarthakKeshari commented on #430
@vedic-kalra,
Reviews and changes will be available once the website is up.
Soon I'll be launching.

[2021-10-13 09:45] SarthakKeshari commented on #426
@vedic-kalra,
@vedic-kalra,
Kindly mention the document type you'll be working with and your name.

[2021-10-13 10:07] sarthakvijay opened #468 "Substring Concatenation - Interviewbit"
### Enter your question -
Substring Concatenation - Interviewbit

### Enter link to the question(if question belongs to any online platform) -
https://www.interviewbit.com/problems/substring-concatenation/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Dynamic programming - String

[2021-10-13 11:50] SarthakKeshari commented on #468
@sarthakvijay,
Kindly create a folder "Interviewbit" and add your solution in it.
Deadline - 14/10/2021

[2021-10-13 14:05] #433 closed

[2021-10-13 14:07] #437 closed, assigned to Himanshi1207

[2021-10-13 15:01] #468 closed, assigned to sarthakvijay

[2021-10-13 18:13] jainsanyam228 opened #476 "C. Registration system"
### Enter your question -
A new e-mail service "Berlandesk" is going to be opened in Berland in the near future. The site administration wants to launch their project as soon as possible, that's why they ask you to help. You're suggested to implement the prototype of site registration system. The system should work on the following principle.

Each time a new user wants to register, he sends to th

[2021-10-13 18:14] AditiRai17 commented on #428
Sir please assign me this issue.

[2021-10-13 19:50] AditiRai17 commented on #428
.txt
Aditi Rai

[2021-10-13 20:20] SarthakKeshari commented on #461
Kindly mention the document type you'll be working with and your name.

[2021-10-13 20:21] SarthakKeshari commented on #465
Kindly mention the document type you'll be working with and your name.

[2021-10-13 20:21] SarthakKeshari commented on #465
@RgnDunes,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps mentioned wh

[2021-10-14 06:35] RgnDunes commented on #461
@SarthakKeshari
Document Type will be : .txt
My Name : Divyansh Singh

[2021-10-14 06:35] RgnDunes commented on #465
@SarthakKeshari
Document Type will be : .txt
My Name : Divyansh Singh

[2021-10-14 13:49] ThejaswinS opened #479 "Letter Combinations of a Phone Number"
### Enter your question -
Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent. Return the answer in any order.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

Example 1:

Input: digits = "23"
Output: ["ad","ae","af","bd","be","bf","cd","ce","cf"]
Ex

[2021-10-14 15:09] #426 closed

[2021-10-14 18:51] aaditya9899 commented on #479
hey can you assign me this under hacktoberfest label?

[2021-10-14 18:52] aaditya9899 commented on #460
Aaditya
.txt file

[2021-10-15 04:39] Rajat-Jain29 opened #482 "Delete Duplicate Folders in System"
### Enter your question -
Two folders (not necessarily on the same level) are identical if they contain the same non-empty set of identical subfolders and underlying subfolder structure. The folders do not need to be at the root level to be identical. If two or more folders are identical, then mark the folders as well as all their subfolders.

Once all the identical folders and their subfolders ha

[2021-10-16 16:53] aaditya9899 commented on #460
kindly review my pull request.

[2021-10-16 19:36] anushka-srivastava22 commented on #463
Kindly assign this issue to me

[2021-10-16 19:52] SarthakKeshari commented on #463
@anushka-srivastava22,
Kindly answer the questions asked in the above issue template. After that I will assign you

[2021-10-16 19:53] SarthakKeshari commented on #463
@anushka-srivastava22,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps

[2021-10-16 20:14] itsooof opened #484 "Vector Sort"
### Enter your question -
You are given N integers. Sort the N integers and print the sorted order.
Store the N integers in a vector. Vectors are sequence containers representing arrays that can change in size.

Declaration:

vector<int>v; (creates an empty vector of integers)
Size:

int size=v.size();
Pushing an integer into a vector:

v.push_back(x);(where x is an integer.The size increases by 1

[2021-10-16 20:17] itsooof commented on #484
Please assign this issue to me @SarthakKeshari

[2021-10-16 21:02] itsooof opened #485 "[Question Title]"
### Enter your question -
Given an integer x, return true if x is palindrome integer.

An integer is a palindrome when it reads the same backward as forward. For example, 121 is palindrome while 123 is not.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/palindrome-number/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-10-16 21:02] itsooof commented on #485
Please assign the issue to me @SarthakKeshari

[2021-10-16 21:07] itsooof opened #486 "Roman to Integer"
### Enter your question -
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is writte

[2021-10-16 21:07] itsooof commented on #486
Please assign this issue to me @SarthakKeshari

[2021-10-17 03:15] Meghwantsingh commented on #429
Hello , I'm new to this .Can  I work on this problem?

[2021-10-17 03:17] Meghwantsingh commented on #485
Hello , I would like to try this problem. Can I .

[2021-10-17 06:35] SarthakKeshari commented on #479
@ThejaswinS,
Kindly add your solution to "leetcode" folder.
Deadline - 18/10/2021

[2021-10-17 07:22] SarthakKeshari commented on #482
@Rajat-Jain29,
Kindly add your solution to "leetcode" folder.
Deadline - 18/10/2021

[2021-10-17 07:23] SarthakKeshari commented on #484
@itsooof,
Kindly add your solution to "hackerrank" folder.
Deadline - 18/10/2021

[2021-10-17 07:24] SarthakKeshari commented on #485
@itsooof,
Kindly add your solution to "leetcode" folder.
Deadline - 18/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice-
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-17 07:25] SarthakKeshari commented on #486
@itsooof,
Kindly add your solution to "leetcode" folder
Deadline - 18/10/2021

This Issue will only be counted towards ranking criteria of this repository.

Gentle advice-
A bit more tough questions would be appreciated for Hacktoberfest tag.

[2021-10-17 07:30] SarthakKeshari commented on #460
@aaditya9899,
Kindly let me assign the issue first.
But since this is your first time. I will be accepting.

[2021-10-17 09:02] itsooof opened #490 "Reverse Integer"
### Enter your question -
Given a signed 32-bit integer x, return x with its digits reversed. If reversing x causes the value to go outside the signed 32-bit integer range [-2^31, 2^31 - 1], then return 0.

Assume the environment does not allow you to store 64-bit integers (signed or unsigned).

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/probl

[2021-10-17 09:02] itsooof commented on #490
Please assign this issue to me @SarthakKeshari

[2021-10-17 09:04] itsooof opened #491 "Generate Parentheses"
### Enter your question -
Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/generate-parentheses/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
String, DP, Backtracking

[2021-10-17 09:05] itsooof commented on #491
Please assign this issue to me @SarthakKeshari

[2021-10-17 09:08] itsooof opened #492 "ZigZag Conversion"
### Enter your question -
The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

P      A     H    N
A  P  L  S  I  I  G
Y       I      R
And then read line by line: "PAHNAPLSIIGYIR"

Write the code that will take a string and make this conversion given a number of rows:

string c

[2021-10-17 11:39] Meghwantsingh commented on #429
ok thx.

[2021-10-17 11:52] Kaustubh-git commented on #431
give deadline till 19-Oct-2021 11:59pm

[2021-10-17 14:51] #427 closed

[2021-10-17 14:51] SarthakKeshari commented on #431
@Kaustubh-git,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps mentione

[2021-10-17 14:53] #463 closed

[2021-10-17 16:11] #460 closed

[2021-10-17 16:14] SarthakKeshari commented on #492
@itsooof,
Kindly add your solution to "leetcode" folder.
Deadline - 18/10/2021

[2021-10-17 16:26] SarthakKeshari commented on #490
@itsooof,
I hope you have gone through the repo and have checked the issues haven't been already addressed.
If above condition holds.
Kindly add your solution to "leetcode" folder.
Deadline - 18/10/2021

[2021-10-17 16:46] anushka-srivastava22 opened #497 "String Datatype"
### A brief about your proposal -
Documentation on string Datatype with a format .txt file
Kindly assign this issue to me

[2021-10-17 16:57] SarthakKeshari commented on #497
@anushka-srivastava22,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps

[2021-10-17 18:05] #497 closed

[2021-10-17 18:38] SarthakKeshari commented on #335
@Anova07,
Kindly add your solution to "Pattern Printing" folder
Deadline - 18/10/2021

[2021-10-17 18:41] #479 closed

[2021-10-17 18:42] #428 closed, assigned to AditiRai17

[2021-10-17 18:46] #476 closed

[2021-10-17 18:54] #359 closed

[2021-10-17 19:31] #490 closed

[2021-10-17 20:45] #492 closed, assigned to itsooof

[2021-10-17 21:16] Anova07 commented on #335
@SarthakKeshari
Please review
Letter L and Letter N #502

I have made one PR for both the Pattern Printing questions

Please let me know if any changes are to be  made.

[2021-10-17 21:16] Anova07 commented on #333
@SarthakKeshari
Please review
Letter L and Letter N #502

I have made one PR for both the Pattern Printing questions

Please let me know if any changes are to be  made.

[2021-10-18 04:27] ghost opened #503 "All or Any"
### Enter your question -
You are given a space-separated list of integers. If all the integers are positive, then you need to check if any integer is a palindromic integer.
Print "True" if all the conditions of the problem statement are satisfied. Otherwise, print "False".
Conditions--
1. All the integers are positive.
2. At least one integer is a palindrome, note that all the single-digit number

[2021-10-18 05:52] #482 closed

[2021-10-18 06:47] Vikash-8090-Yadav opened #504 "length_recurrsively_ll"
hii there ,
i wana to add a new code file named length_recurssive_ll  in the directory
CPP-Questions-and-Solutions/Data Structure/Linked List/Single Linked List/

, plss allow me to do this ...

[2021-10-18 09:05] #333 closed, assigned to Anova07

[2021-10-18 09:05] #335 closed, assigned to Anova07

[2021-10-18 09:10] SarthakKeshari commented on #434
@absolute-looser,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps menti

[2021-10-18 13:16] Navidulhaque opened #506 "want to add code for 0-1 Knapsack"
### A brief about your proposal -
hi their ,
I want to add the Tabulation method code for 0-1 knapsack problem in
 CPP-Questions-and-Solutions/Dynamic Programming/
Please allow me to do this

[2021-10-18 16:09] Vikash-8090-Yadav opened #508 "linked_list_recursive"
This code file is used to calculate the length of the linked list recursively....

Previous issue #504

[2021-10-18 20:12] SarthakKeshari commented on #404
@Parul1923,
Kindly add your solution to "codechef" folder.
Deadline - 19/10/2021

[2021-10-18 20:14] #503 closed, assigned to nobody

[2021-10-18 20:16] #434 closed, assigned to enigma-commits

[2021-10-18 20:19] SarthakKeshari commented on #506
@Navidulhaque,
Kindly check the repo. I guess think issue has been addressed.

[2021-10-18 20:46] #508 closed

[2021-10-18 21:00] Vikash-8090-Yadav opened #509 "length_ll_recurssive"
hii there ,
this length_ll_recurssive is used to calculate the length of the  sigly linked list linked list recurssively .

u can find the approcach of my code in  below link :
[https://ideone.com/CADYiT](url)

### Tags for the question(eg - Array, Basic, Stack, etc.) -
linkedlist , sigly linkedlist , recurrsion

previous issue : #504

[2021-10-19 04:28] Navidulhaque commented on #506
@SarthakKeshari  knapsack solution present at CPP-Questions-and-Solutions/Dynamic Programming/ is not solved using dynamic programming it is solved using recursion. So, kindly allow me to add a dynamic programming solution their.

[2021-10-19 05:32] SarthakKeshari commented on #404
@sharmakarish,
No you ain't late. Deadline - 19/20/2021 means you have time till 11: 59 pm.

PR ain't shown up in the repo. Kindly look into it

[2021-10-19 05:36] SarthakKeshari commented on #404
@sharmakarish,
Since after the deadline no info was received. @Parul1923, has reclaimed it. So you may claim it if the issue is still undone after the deadline

[2021-10-19 05:39] SarthakKeshari commented on #506
@Navidulhaque,
Ok, I wish to see your approach, go ahead. I will review it.
Kindly add your solution to "Dynamic Programming" folder.
Deadline - 20/10/2021

[2021-10-19 05:42] Arun-Kumar-Rathod opened #511 "Codechef PROBDIFF problem solution"
### Enter your question -
Codechef PROBDIFF problem solution

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/problems/PROBDIFF

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Basic

[2021-10-19 05:50] Parul1923 commented on #404
Sir, Kindly review the code and please accept my pull request.

[2021-10-19 13:15] Navidulhaque opened #516 "Want to Add matrix chain multiplication Using DP"
### A brief about your proposal -
Your answer
Hi there , I want to add the dynamic programming solution of matrix chain multiplication in
CPP-Questions-and-Solutions/Dynamic Programming/
Please allow me to do so.

[2021-10-19 13:23] #516 closed

[2021-10-19 14:01] Navidulhaque opened #518 "Add Matrix chain multiplication DP"
###  I want to add the solution of matrix chain multiplication using dynamic programming
in CPP-Questions-and-Solutions/Dynamic Programming/
Please assign me .

[2021-10-19 18:51] #431 closed

[2021-10-20 02:33] silicolicious opened #520 "Remove Outermost Paranthesis"
### Enter your question -
A valid parentheses string is either empty "", "(" + A + ")", or A + B, where A and B are valid parentheses strings, and + represents string concatenation.

For example, "", "()", "(())()", and "(()(()))" are all valid parentheses strings.
A valid parentheses string s is primitive if it is nonempty, and there does not exist a way to split it into s = A + B, with A and B n

[2021-10-20 03:36] Kaustubh-git commented on #432
kindly assign me this issue @SarthakKeshari

[2021-10-20 03:37] Kaustubh-git commented on #432
give deadline till 22-10-2021 11:59pm

[2021-10-20 06:21] YashGosaliya opened #521 "Trapping Rain Water"
### Enter your question -

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/trapping-rain-water/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Dynamic Programming, Array

[2021-10-20 06:22] YashGosaliya commented on #521
@SarthakKeshari please assign this issue

[2021-10-20 14:39] absolute-looser opened #523 "Setup for Sublime text"
### A brief about your proposal -
As we can see more and more people in India are in the field of competitive programming and also **Linux** is also getting popular day by day so I propose, the setup of Sublime text in Linux for **competitive programming** as well as normal programming for interview preparation in **C/C++**.

[2021-10-20 14:40] absolute-looser commented on #523
@SarthakKeshari  please assign this to me

[2021-10-21 01:53] #449 closed

[2021-10-21 01:55] SarthakKeshari commented on #523
@absolute-looser,
Kindly note

1. Follow the reference template -
 Templates for reference - [.txt](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_TXT_Reference.md) and [.html](https://github.com/SarthakKeshari/CPP-Questions-and-Solutions/blob/main/Documentation/Template_HTML_Reference.html)
2. Proper screenshots are needed(for the points/steps menti

[2021-10-21 01:57] #520 closed

[2021-10-21 01:59] SarthakKeshari commented on #521
@YashGosaliya,
Go ahead, add your solution to "leetcode" folder.
Deadline - 21/10/2021

[2021-10-21 02:08] #506 closed, assigned to Navidulhaque

[2021-10-21 02:24] absolute-looser commented on #523
Yeah! it is a documentation but later on i want to work on few important **tree data structures** as i can't see any data structures regarding ### tree.

[2021-10-21 11:15] Navidulhaque opened #526 "Add solution to matrix chain multiplication"
### Enter your question - Matrix chain multiplication is mussing in Dynamic Programming folder
I want to add the solution of this question using dynamic programming.

### Enter link to the question(if question belongs to any online platform) -
https://practice.geeksforgeeks.org/problems/matrix-chain-multiplication0303/1

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Array, Dynamic pr

[2021-10-21 13:05] #518 closed, assigned to nobody

[2021-10-21 14:40] enigma-commits opened #528 "Segment Tree"
### Enter your question -
Implementation of Segment Tree in C++

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Advanced data structures

[2021-10-22 12:18] rajatjha28 opened #530 "Polygon Relationship"
### Enter your question -
You are given a strictly convex polygon with N
 vertices (numbered 1
 through N
). For each valid i
, the coordinates of the i
-th vertex are (Xi,Yi)
. You may perform the following operation any number of times (including zero):

Consider a parent polygon. Initially, this is the polygon you are given.
Draw one of its child polygons ― a simple non-degenerate polygon such

[2021-10-25 16:05] shivamv02 opened #534 "[Question Title]"
### Enter your question -
 Chef has taken his first dose of vaccine D days ago. He may take the second dose no less than L days and no more than R days since his first dose.

Determine if Chef is too early, too late, or in the correct range for taking his second dose.

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/LTIME100C/problems/VDATES

#

[2021-10-25 16:09] shivamv02 opened #535 "Buy Please"
### Enter your question -
Chef went to a shop and buys a pens and b pencils. Each pen costs x units and each pencil costs y units. Now find what is the total amount Chef will spend to buy a pens and b pencils.

### Enter link to the question(if question belongs to any online platform) -
https://www.codechef.com/CCSTART2/problems/BUYPLSE

### Tags for the question(eg - Array, Basic, Stack, etc.) -

[2021-10-29 23:15] saksham-khajuria opened #537 "Directin.cpp[Question Title]"
Codechef starters 16 question

Your [Question link](https://www.codechef.com/START16C/problems/DIRECTN)

Array, string

[2021-10-29 23:15] saksham-khajuria commented on #537
Please allot this issue to me

[2021-10-30 06:07] PrakharRathore123 commented on #456
@SarthakKeshari Kindly assign me this issue.

[2021-10-31 04:09] #432 closed

[2021-10-31 04:11] #526 closed

[2021-10-31 04:12] #523 closed

[2021-10-31 04:13] #521 closed

[2021-10-31 05:05] #456 closed

[2021-10-31 05:07] PrakharRathore123 commented on #457
@SarthakKeshari  Kindly acknowledge this issue.

[2021-10-31 06:09] rahulgoyal8312 opened #540 "3 Sum Closest"
### Enter your question -
Given Target element, find sum of three numbers from an array which is closest to the target element.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/3sum-closest/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Arrays, Two Pointers, Sorting

[2021-10-31 06:10] rahulgoyal8312 commented on #540
Kindly assign this issue to me. @SarthakKeshari

[2021-10-31 06:15] rahulgoyal8312 opened #541 "Group Anagrams"
### Enter your question -
Given an array of string, need to group anagrams together.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/group-anagrams/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Sorting, String

[2021-10-31 06:16] rahulgoyal8312 commented on #541
Kindly assign this issue to me. @SarthakKeshari

[2021-10-31 06:19] rahulgoyal8312 opened #542 "Palindrome Linked List"
### Enter your question -
Given head of singly list, return true if list is palindrome.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/palindrome-linked-list/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
LinkedList, Two Pointers, Stack

[2021-10-31 06:19] rahulgoyal8312 commented on #542
Kindly assign this issue to me. @SarthakKeshari

[2021-10-31 06:21] rahulgoyal8312 opened #543 "Minimum Stack"
### Enter your question -
Design a stack that supports push, pop, top, and retrieving the minimum element in constant time.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/min-stack/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Stack

[2021-10-31 06:21] rahulgoyal8312 commented on #543
Kindly assign this issue to me. @SarthakKeshari

[2021-10-31 06:23] rahulgoyal8312 opened #544 "Number to Hexadecimal Representation"
### Enter your question -
Given an integer num, return a string representing its hexadecimal representation. For negative integers, two’s complement method is used.

### Enter link to the question(if question belongs to any online platform) -
https://leetcode.com/problems/convert-a-number-to-hexadecimal/

### Tags for the question(eg - Array, Basic, Stack, etc.) -
Maths